/**
 * Strong Testimonials RTL stylesheet
 *
 * Please send any improvements to chris@wpmission.com
 */

.testimonial,
.testimonial .inner,
.testimonial .heading {
	text-align: right;
}

.testimonial .heading {
	padding-right: 40px;
}

.testimonial .photo {
	float: right;
	margin-left: 1em;
}

.testimonial .client {
	text-align: left;
}
