/**
 * Strong Testimonials admin stylesheet
 */


p.submit .reminder {
	display: inline-block;
	font-style: italic;
}

.wp-core-ui .button-primary.active, 
.wp-core-ui .button-primary.active:hover, 
.wp-core-ui .button-primary.active:focus, 
.wp-core-ui .button-primary:active {
	vertical-align: baseline;
}
 
/* Firefox fix */
a.widget-action:focus {
	outline: none;
}


/* Help sections
---------------------------------------------------------*/

div.help {
	margin-left: 0;
}

/* Help icon */

span.widget-help:hover {
	color: #1E8CBE;
	cursor: pointer !important;
  display: inline;
  position: relative;
}
span.widget-help span {
  position: absolute;
  visibility: hidden;
  width: 160px;
	height: auto;
	padding: 8px;
  color: #FFFFFF;
  background: #222;
  text-align: center;
  border-radius: 4px;
	font-family: "Open Sans", sans-serif;
	font-size: 13px;
	line-height: 1.5;
}
span.widget-help span:after {
  content: '';
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -10px;
  width: 0;
	height: 0;
  border-top: 8px solid #222;
  border-right: 8px solid transparent;
  border-left: 8px solid transparent;
}
span.widget-help:hover span,
span.widget-help span.showing {
  visibility: visible;
  opacity: 0.9;
  bottom: 30px;
  left: 50%;
  margin-left: -88px;
  z-index: 999;
  -webkit-box-shadow: 0px 0px 8px rgba(0,0,0,0.8);
     -moz-box-shadow: 0px 0px 8px rgba(0,0,0,0.8);
          box-shadow: 0px 0px 8px rgba(0,0,0,0.8);
}
	
.pushdown2 {
	position: relative;
	top: 2px;
}

.pushdown4 {
	position: relative;
	top: 4px;
}
	
	
 
/* Shortcodes table 
---------------------------------------------------------*/

table.shortcode-table {
	border-collapse: collapse;
	margin-bottom: 1em;
	width: 100%;
	max-width: 800px;
}

	table.shortcode-table a:hover {
		text-decoration: none;
	}

	table.shortcode-table h3 {
		margin: .5em 0 0;
	}

	table.shortcode-table th,
	table.shortcode-table td {
		border-bottom: 1px solid #dfdfdf;
		padding: .5em;
		width: 50%;
	}

	table.shortcode-table th {
		text-align: left;
	}

	table.shortcode-table tr:hover td {
		background: #FFFFE0;
		color: #000;
	}

/* code */
table.shortcode-table td:nth-child(2) {
	background: #fff;
	font-size: 1.1em;
	padding: .5em 1em;
	direction: ltr;
	font-family: Consolas, Monaco, monospace;
}

	table.shortcode-table td:nth-child(2):hover {
		background: #FFFFE0;
	}

	
/* Settings table 
---------------------------------------------------------*/

.stackem label {
	display: block;
	line-height: 2em;
}

#screenshot-screen-options {
	display: none;
}

.screenshot > div {
	display: inline-block;
  -webkit-box-shadow: inset 0px 0px 40px rgba(0,0,0,0.8);
     -moz-box-shadow: inset 0px 0px 40px rgba(0,0,0,0.8);
          box-shadow: inset 0px 0px 40px rgba(0,0,0,0.8);
}

div.radio {
	line-height: 1.5em;
}

	div.radio:hover {
		color: #000;
	}

.wpmtst .form-table {
	border-collapse: separate;
	border-bottom: 1px solid #fff;
	vertical-align: middle;
}

.wpmtst .form-table th,
.wpmtst .form-table td {
	border-top: 1px solid #fff;
	border-bottom: 1px solid #ddd;
	padding: 10px 5px;
}

.wpmtst .form-table tr:first-child th,
.wpmtst .form-table tr:first-child td {
	border-top: 0;
}

.wpmtst .form-table th.parent {
	border-bottom: 0;
}

.wpmtst .form-table th.parent + td {
}

.wpmtst .form-table .child {
	border-top: 0;
}

.wpmtst .form-table p {
	margin-bottom: 1em;
}

.wpmtst .form-table input,
.wpmtst .form-table select,
.wpmtst .form-table textarea {
	line-height: 1.5em;
}

.wpmtst select {
	min-width: 120px;
}

.wpmtst option {
	padding-left: 5px;
}

.wpmtst .form-table div.box {
	border: 1px solid #ddd;
	display: inline-block;
	padding: 10px;
}

.wpmtst .form-table .row {
	line-height: 2.5em;
}

.wpmtst .form-table .alpha {
	width: 120px;
}

.code {
	background: #fff;
}
.code.wide {
	padding: 2px 5px;
	margin: 3px;
	border-radius: 2px;
}

.wpmtst input.button {
	margin-right: 10px;
}

.custom-input {
	line-height: 1.3em;
}

.shortcode-example {
	background: transparent;
	border: 1px solid #ddd;
	margin: .5em 0 1em;
	padding: 10px;
}
.indent {
	margin-left: 2em;
}
.outdent {
	margin-left: -2em;
}

.hilite {
	background: lightyellow;
	border-radius: 4px;
	display: inline-block;
	padding: .25em .75em;
  -webkit-box-shadow: 2px 2px 4px rgba(0,0,0,0.5);
     -moz-box-shadow: 2px 2px 4px rgba(0,0,0,0.5);
          box-shadow: 2px 2px 4px rgba(0,0,0,0.5);
}
.form-table td .shortcode-example p {  /*S*/
	margin-top: 0;
	margin-bottom: 0;
	line-height: 1.8;
}
.shortcode-example p .field {
	display: inline-block;
	color: #2ea2cc;
	margin: 0 1px;
}
.shortcode-example p .field.example {
	font-style: italic;
}


/* Client details meta box 
---------------------------------------------------------*/

#details table {
  border: none;
}

#details td {
  margin: 5px;
  padding: 5px;
}

#details th {
  text-align: right;
  font-weight: 400;
}

.icon-arrow-right:after {
  content: "\21E8";
  font-size: larger;
  font-weight: 700;
  color: blue;
}

.description a {
	text-decoration: underline;
}

.description a:hover {
	text-decoration: none;
}

.radio .description {
	padding-left: 20px;
}

ul.description {
	font-style: italic;
	color: #666;
}

/* Widget 
---------------------------------------------------------*/

.wpmtst-widget-form {
	margin-bottom: 1em;
}

.widget-inside p {
	margin: .5em 0;
}

.radio-tab {
	background: #eee;
	display: inline-block;
	padding: .5em;
	border: 1px solid #ddd;
	margin-bottom: -1px;
	z-index: 5;
}

.radio-tab label {
	vertical-align: baseline;
}

.radio-tab:hover {
	color: black;
}

.radio-current {
	background: #fff;
	border-bottom-color: #fff;
}

.mode-tab {
	display: block;
}

.wpmtst-mode {
	margin-top: 1em;
}

.wpmtst-mode ul {
	margin: 0;
}

.wpmtst-mode li:nth-child(n+2) {
	margin-left: -4px;
}

.wpmtst-mode-cycle,
.wpmtst-mode-static {
	border: 1px solid #ddd;
	padding: 4px 7px;
}

.wpmtst-inner-box {
	border: 1px solid #ddd;
	margin-top: .5em;
	padding: 0 7px;
}

	.wpmtst-inner-box p {
		margin: 0.25em 0;
	}

.wpmtst-mode .row {
	display: block;
	margin: 4px 0;
}

.wpmtst-mode .row.tall {
	margin-top: 8px;
}

.wpmtst-mode .row label {
	vertical-align: baseline;
}

.row {
}

	.row > div {
		vertical-align: baseline;
		display: inline-block;
	}

.alpha {
	display: inline-block;
	width: 110px;
}

.full {
	width: 100%;
}

label.alpha {
	width: 65px;
}
label.alpha.wide {
	width: 100px;
}

input.omega,
select.omega {
	width: calc( 100% - 75px );
}

.divider {
	margin-left: .8em;
	vertical-align: baseline;
}

input[disabled],
input[readonly] {
	color: #999;
	background: rgba(0, 0, 0, 0.04);
}


/* Categories admin list 
---------------------------------------------------------*/

.widefat th.column-ID {
	width: 2.2em;
}


/* Custom fields
---------------------------------------------------------*/

#wpmtst-custom-fields-form {
	width: 500px;
	display: inline-block;
}

#custom-field-list {
	margin-bottom: 0;
}

	#custom-field-list li {
		background: #fff;
		border: 1px solid #ddd;
		margin: 0;
	}

.custom-field-header {
	padding: 10px;
	font-size: 1.1em;
}

	.custom-field {
		display: none;
	}
	
	.handle {
		display: inline-block;
		margin-right: 10px;
		color: #999;
	}

	.handle:hover {
		color: #111;
	}

	a.field {
		text-decoration: none;
	}

	/* open */
	
	#custom-field-list li.open {
		border-color: #2ea2cc;
	}

	li.open .custom-field-header {
		background: #2ea2cc;
	}

	.open .handle,
	.open .link a {
		color: #fff;
	}
	
	select.field-type {
		min-width: 120px;
	}
	
	option {
		font-family: "Open Sans", sans-serif;
	}
	
	option[disabled] {
		color: #999;
	}
	
	#custom-field-list optgroup:before {
		color: #333;
    content: attr(label);
    display: block;
		font-family: "Open Sans", sans-serif;
		font-style: normal;
		padding-left: 4px;
	}
	
	#custom-field-list option[disabled]:after {
    content: " (in use)";
		font-style: italic;
	}

	.controls {
		padding: 10px 15px;
		background: #f8f8f8;
		background: #e7f5fa;
		border-top: 1px solid #ddd;
	}
	
	.controls > span:nth-child(n+2):before {
		content: " | ";
	}
	
	.controls a.delete-field {
		color: #F00;
	}
	
.sortable-placeholder {
	border: 1px dashed #ccc !important;
	background: #f1f1f1 !important;
	height: 40px;
}


.field-table {
	border-collapse: collapse;
	width: 100%;
}

	.field-table th,
	.field-table td {
		border-bottom: 1px solid #ccc;
		padding: 10px;
	}
	
	.field-table th {
		width: 100px;
	}

	.field-table td input[type="text"] {
		width: 100%;
	}

	.field-table td span.help {
		display: block;
		padding: 5px;
	}

	.field-table tr:last-child th,
	.field-table tr:last-child td {
		border-bottom: 0;
	}

#add-field-bar {
	background: #fff;
	border: 1px solid #ddd;
	padding: 5px;
	text-align: right;
}

	#add-field-bar input {
		margin-right: 0;
		margin-left: 10px;
	}
	