/**
 * Strong Testimonials No Quotes template
 */

$template: no-quotes;

@import "../_mixins/testimonial";

@import "../_partials/clear";
@import "../_partials/base";
@import "../_partials/pagination";

/* Template
-----------------------------------------------*/
.strong-view.#{$template} {
	.strong-content {
		margin: 20px auto;
	}

	.testimonial {
		@include testimonial;
		border: 1px solid #E6E6E6;
	}

	.testimonial-inner {
		border: 1px solid #FFFFFF;
		padding: 20px;
		text-align: left;
	}

	&.ui-slideshow-bottom .testimonial-inner {
		padding-bottom: 60px;
	}

	&.ui-slideshow-bookends .testimonial-inner {
		padding-left: 48px;
		padding-right: 48px;
	}

	.testimonial-heading {
		margin-top: 0;
		text-align: left;
	}

	.testimonial-content {
		@include paragraphs;
	}

	.testimonial-image {
		margin-top: .25em;
		margin-right: 1em;
		margin-bottom: 0.25em;
		float: left;

		img {
			background: none repeat scroll 0 0 #FFFFFF;
			border: 1px solid #EFEFEF;
			padding: 6px;
			margin: 0 auto;
		}
	}

	.testimonial-client {
		margin-top: 1em;
		text-align: right;
	}

	.testimonial-name {
		font-weight: bold;
	}

	.readmore {
		margin-top: 1em;
	}

	.readmore-page {
		@include readmore-page;
		border: 1px solid #E6E6E6;
	}
}

@import "../_partials/responsive";
@import "../_partials/responsive-no-heading-background";

@import "../_partials/rtl";

.strong-view.#{$template}.rtl {
	.testimonial-heading {
		padding-right: 40px;
		background-position: right;
	}
}
