/**
 * Compatibility settings tab
 */

/**
 * Basic structure
 */
div.row {
  display: table-row;

  > div {
    display: table-cell;
  }

  &:not(:last-child) > div {
    padding-bottom: 0.5em;
  }

  p {
    margin-bottom: 0.5em;
  }

  &.header {
    p {
      margin-bottom: 1em;
    }
  }
}

/**
 * Common scenarios table
 */
div.scenarios {
  div.row {
    border: 1px solid #DDD;

    > div {
      padding: 1em;

      &:first-child {
        width: 35%;
        border-right: 1px dotted #DDD;
      }
      &:last-child {
        width: 30%;
        border-left: 1px dotted #DDD;
      }
    }

    p {
      font-size: 14px;
      margin: 0;
      &:not(:last-child) {
        margin-bottom: 1em;
      }
    }

    &.header {
      > div {
        font-weight: 600;
        padding: 0.5em 1em;
      }
    }

  }
}

/**
 * Settings table
 */
div.row {

  // Dependent inputs are initially hidden.
  &[data-sub] {
    display: none;
  }

  &:not(:last-child) > div:nth-child(2) {
    padding-bottom: 0.5em;
  }

  > div {

    &:first-child {
      width: 180px;
    }

    &.radio-sub {
      label {
        text-indent: 24px;
      }
    }
  }

  p {
    &.about {
      &.adjacent {
        margin-left: 1em;
      }
    }

    &.description {
      font-size: 14px;
    }
  }

  label.current {
    font-weight: 600;
  }
}

/**
 * Number spinner
 */
.number-style {
  display: inline-block;
  margin-right: 10px;

  input {
    margin: 0 5px;
    font-family: Consolas, Monaco, monospace;
    text-align: center;
    width: 3.5em;
  }

  span {
    cursor: pointer;

    &::after {
      font-family: Consolas, Monaco, monospace;
      height: 21px;
      line-height: 21px;
      width: 21px;
      display: inline-block;
      text-align: center;
      vertical-align: top;
      margin-top: 2px;
      // to match WordPress:
      border-radius: 3px;
      background: #0085ba;
      border-color: #0073aa #006799 #006799;
      -webkit-box-shadow: 0 1px 0 #006799;
      box-shadow: 0 1px 0 #006799;
      text-shadow: 0 -1px 1px #006799, 1px 0 1px #006799, 0 1px 1px #006799, -1px 0 1px #006799;
      border-width: 1px;
      border-style: solid;
      color: #FFF;
    }

    &.number-minus::after {
      content: "-";
      font-size: 28px;
      line-height: 18px;
    }

    &.number-plus::after {
      content: "+";
      font-size: 22px;
      line-height: 19px;
    }

    &:hover::after {
      background: #008ec2;
    }

    &:active::after {
      background: #0073aa;
      border-color: #006799;
      -webkit-box-shadow: inset 0 2px 0 #006799;
      box-shadow: inset 0 2px 0 #006799;
      -webkit-transform: translateY(1px);
      -ms-transform: translateY(1px);
      transform: translateY(1px);
      outline: none;
    }

    &.disabled::after {
      background: #AAA;
      border-color: #999 #777 #777;
      -webkit-box-shadow: 0 1px 0 #777;
      box-shadow: 0 1px 0 #777;
      text-shadow: 0 -1px 1px #777, 1px 0 1px #777, 0 1px 1px #777, -1px 0 1px #777;
    }
  }

  input[type='number'] {
    -moz-appearance: textfield;
  }

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }
}
