/**
 * Strong Testimonials View editor
 */

/* TODO Consolidate with admin.css */

@import "_partials/view-info";
@import "_partials/structure";

.option-wrap {
  margin-right: 2em;
}

.half-width {
  display: inline-block;
  box-sizing: border-box;
  width: 50%;
  float: left;
}

.is-below {
  padding-top: 10px;
}

optgroup,
optgroup option {
  font-family: inherit; /* Firefox */
}

.intro {
  margin-bottom: 2em;
}

/*-----------------------------------------------*
 * category checklist
 *-----------------------------------------------*/

/* search filter */
.fc-search-wrap {
  display: none;
  position: relative;
}

.fc-search-field {
  margin: 12px 0 4px 0;
  width: 100%;
}

.cat-count {
  color: #888;
}

/* copying style from native post category list */
.view-category-list-panel {
  box-sizing: border-box;
  min-height: 42px;
  min-width: 220px;
  overflow: auto;
  padding: 0 10px;
  border: 1px solid #DFDFDF;
  background-color: #FDFDFD;
  transition: all 0.2s ease;
}

.short-panel {
  max-height: 177px;
}

.tall-panel {
  max-height: none;
}

.view-category-list {
  margin: 7px 0;
}

.view-category-list li {
  margin-bottom: 0;
  line-height: normal;
}

.view-category-list li label {
  margin-bottom: 6px;
  word-wrap: break-word;
  white-space: nowrap;
}

ul.children {
  margin-left: 21px;
}

/*-----------------------------------------------*
 * replace checkboxes with icons
 *-----------------------------------------------*/

input[type=checkbox] {
  display: none;
}

/* keep the inherited margins, adjust width if more space is necessary */
input[type=checkbox] + label:before {
  //noinspection CssNoGenericFontName
  font-family: FontAwesome;
  color: #00A4F3;
  display: inline-block;
  font-size: 18px;
  width: 1em;
}

input[type=checkbox] + label:before {
  content: "\f096"; /* unchecked icon */
}

input[type=checkbox]:checked + label:before {
  content: "\f14a"; /* checked icon */
}

input[type=checkbox]:disabled + label:before {
  content: "\f146"; /* disabled icon */
}

input[type=checkbox] + label:hover:before,
input[type=checkbox]:checked + label:hover:before {
  color: #FF8900;
}

input[type=checkbox]:disabled + label:before,
input[type=checkbox]:disabled + label:hover:before {
  color: #888;
}

.screenshot {
  margin: 10px;
}

.screenshot > div {
  display: inline-block;
  -webkit-box-shadow: inset 0 0 40px rgba(0, 0, 0, 0.8);
  -moz-box-shadow: inset 0 0 40px rgba(0, 0, 0, 0.8);
  box-shadow: inset 0 0 40px rgba(0, 0, 0, 0.8);
}

#wpmtst-views-form input[type="submit"] {
  margin-right: 10px;
}

td.column-name strong {
  display: block;
  margin-bottom: .2em;
  font-size: 14px;
}

/*-----------------------------------------------
 * Elements
 *-----------------------------------------------*/

.wpmtst2 {
  max-width: 1024px;
}

/*
 The generic classname `submit` conflicts with an unknown plugin or theme overzealous style.
*/
.wpmtst2 p.wpmtst-submit {
  margin-top: 2em;
}

/* views section heading */
.wpmtst2 h3 {
  background: #FFF;
  color: #00A4F3;
  font-weight: 400;
  border: 1px solid #DDD;
  border-bottom: 0;
  padding: 10px 15px;
  margin-bottom: 0;
  margin-top: 1.5em;
}

.form-table td p.description {
  margin-top: 0;
  font-style: italic;
}

p.description.tall {
  line-height: 32px;
  margin-top: 0;
}

p.description.short {
  line-height: 22px;
  padding: 5px 0;
}

p.description.solo {
  margin-left: 0.3em;
}

p.description.under-checkbox {
  margin-left: 22px;
}

input[type="text"].long {
  width: 25em;
}

/* Misc positioning */

.inline {
  display: inline-block;
  /*white-space: nowrap;*/
  margin-right: 0.5em;
  vertical-align: top;
}

.inline span,
.row span {
  display: inline-block;
  margin-right: 3px;
}

.inline:last-child {
  margin-right: 0;
}

.inline-middle {
  vertical-align: middle;
}

.tight {
  margin-right: 0.5em;
}

.tight:last-child,
.last {
  margin-right: 0;
}

.checkbox,
.form-table th.checkbox {
  line-height: 32px;
}

.field {
  position: relative;
}

.field div {
  display: inline-block;
  padding: 0.2em 0.3em;
}

/*-----------------------------------------------
 * Inputs
 *-----------------------------------------------*/
.input-number {
  width: 5em;
  text-align: right;
}

.input-incremental {
  width: 5em;
}

.input-number-px {
  width: 4em;
  text-align: right;
}

.form-table select {
  vertical-align: baseline;
}

div.radio {
  line-height: 1.5em;
  padding: 0 5px;
}

div.radio.selected {
  background: #ddd;
}

td.selected {
  background: #FFFFE0;
}

label,
.nolabel {
  vertical-align: baseline;
  margin-right: 0.3em;
  display: inline-block;
}

label:hover {
  color: #000;
}

option:disabled {
  font-style: italic !important;
}

/*-----------------------------------------------
 * Form table
 *-----------------------------------------------*/
.form-table {
  margin-top: 0;
  background: #FEFEFE;
  width: 100% !important;
  border: 1px solid #DDD;
}

.form-table tr {
  border: 1px solid #DDD;
}

.form-table.multiple {
  width: auto;
}

.form-table th,
.form-table td {
  vertical-align: top;
}

.form-table th {
  font-weight: 400;
  white-space: nowrap;
  vertical-align: top;
  width: 150px;
  padding: 10px 15px;
}

.form-table td.valign-middle {
  vertical-align: middle;
}

.form-table td {
  padding: 10px;
}

td.w1 {
  width: 185px;
}

td.w2 {
  width: 300px;
}

.row,
.row p {
  vertical-align: middle;
  line-height: 32px;
}

.row.tall,
.row.tall p {
  line-height: 40px;
}

.row.links {
  margin-top: 10px;
}

.row:not(:first-child) .row-inner {
  margin-top: 10px;
}

.wpmtst2 .form-table th,
.wpmtst2 .form-table th label {
  line-height: 30px;
  margin-top: 0;
  margin-bottom: 0;
}

span.title {
  display: inline-block;
  margin-right: 1em;
}

/*-----------------------------------------------
 * Category checkboxes
 *-----------------------------------------------*/
ul.checkbox-horizontal {
  display: inline-block;
  list-style: none;
  margin: 0;
}

ul.checkbox-horizontal li {
  display: inline-block;
  float: left;
  margin: 6px 2em 0 0;
}

.select-cell {
  padding-right: 2em;
}

.indented {
  //margin-left: 24px;
}

/*-----------------------------------------------
 * List radio buttons
 *-----------------------------------------------*/
/*
 +--[radio-wrap]-------------+------------------------+
 |                           |                        |
 |   +--[radio-buttons]--+   |  [radio-description]   |
 |   |                   |   |                        |
 |   |   [radio-list]    |   |                        |
 |   |                   |   |                        |
 |   +-------------------+   |                        |
 +---------------------------+------------------------+
*/

.radio-wrap {
  display: table;
}

/* the left side */
.radio-buttons {
  box-sizing: border-box;
  vertical-align: top;
}

/* custom buttons */
.radio-buttons input[type=radio] {
  display: none; /* to hide the radio itself */
}

.radio-buttons input[type=radio] + label:before {
  //noinspection CssNoGenericFontName
  font-family: FontAwesome;
  display: inline-block;
  color: #999;
  font-size: 18px;
  line-height: 1;
  /* space between radio and label */
  letter-spacing: 0.7em;
}

.radio-buttons input[type=radio] + label:before {
  content: "\f10c"; /* unchecked icon */
}

.radio-buttons input[type=radio] + label:hover {
  background: #FFF6ED;
  border-color: #FFE9D2;
  border-color-right: transparent;
}

.radio-buttons input[type=radio] + label:hover:before {
  color: #333;
}

.radio-buttons input[type=radio]:checked + label:before {
  content: "\f192"; /* checked icon */
  color: #333;
}

.radio-buttons input[type=radio].error + label,
.radio-buttons input[type=radio].error + label:before {
  color: red;
}

.radio-buttons input[type=radio]:disabled + label {
  color: #AAA;
}

.radio-buttons input[type=radio]:disabled + label:before {
  color: #CCC;
}

.radio-buttons input[type=radio]:disabled + label:hover {
  background: transparent;
}

.radio-buttons input[type=radio]:checked:disabled + label:hover {
  background: #EAF7FB;
}

/* the list items */
ul.radio-list {
  display: inline-block;
  margin: 10px 0;
  width: 100%;
  box-sizing: border-box;
}

.radio-list li {
  margin: 0;
  white-space: nowrap;
  /* to appear seamless with adjacent box: */
  position: relative;
  right: -1px;
}

.radio-list li label {
  padding: 5px 20px 2px 8px;
  box-sizing: border-box;
  border-radius: 12px 0 0 12px;
  border: 1px solid transparent;
  border-right-width: 0;
  width: 100%;
}

.radio-list input[type="radio"]:checked + label {
  background: #EAF7FB;
  border-color: #D5EFF7;
}

/* the right side */
.radio-description {
  background: #EAF7FB;
  padding: 20px;
  border: 1px solid #D5EFF7;
}

.form-table .radio-description p {
  margin-bottom: 1em;
}

.radio-wrap.full-width {
  width: 100%;
}

.radio-buttons.full-width {
  width: 35%;
}

.radio-description.full-width {
  width: 65%;
}

.radio-wrap.full-width.narrow-first .radio-buttons {
  width: 20%;
}

.radio-wrap.full-width.narrow-first .radio-description {
  width: 80%;
}

/* demo color switcher */

#font-color-switcher {
  text-align: center;
  margin-bottom: 10px;
  font-style: italic;
}

#font-color-switcher .inner {
  display: inline-block;
}

#font-color-switcher .inner-help {
  display: inline-block;
  padding: 1px 10px;
}

#font-color-switcher input[type="radio"] + label {
  margin-right: 10px;
}

#font-color-switcher input[type=radio] + label:before {
  letter-spacing: 0.3em;
  font-style: normal;
}

#font-color-switcher input[type=radio] + label:hover {
  background: transparent;
}

/* gradient */

.background-description.bg-gradient label {
  padding-right: 1em;
  padding-bottom: 2em;
}

.background-description.bg-gradient .table-row:first-child .table-cell {
  padding-bottom: 20px;
}

.background-description-inner {
  margin-bottom: 20px;
}

/* gradient preview */

.background-preview-wrap {
  background: white;
  padding: 2em;
  max-width: 500px;
}

#background-preview {
  padding: 1em;
  text-align: center;
}

#background-preview.dark {
  color: #333;
}

#background-preview.light {
  color: #EEE;
}

/*-----------------------------------------------
 * Examples
 *-----------------------------------------------*/
.example-container {
  background: white;
  border: 1px solid #ccc;
  box-sizing: border-box;
  margin-top: 0.5em;
  padding: 15px 10px 5px;
  width: 170px;
}

.example-container .box {
  background: #DDD;
  /*box-sizing: border-box;*/
  width: 100%;
  line-height: 30px;
  height: 30px;
  margin-bottom: 10px;
  text-align: center;
  /* to prevent overflowing margins */
  display: inline-block;
  position: relative;
  /* multi-column properties */
  -webkit-column-break-inside: avoid;
  page-break-inside: avoid;
  break-inside: avoid;
}

.example-container .box span {
  display: block;
  margin: 0 auto;
}

.box.size2 {
  height: 45px;
}

.box.size3 {
  height: 60px;
}

/*--------------------------------------------------
 * normal
 *--------------------------------------------------*/
.view-layout-normal .example-container {
}

.view-layout-normal .box {
}

/*--------------------------------------------------
 * Masonry
 *--------------------------------------------------*/
.view-layout-masonry .example-container .box {
  width: 46%;
}

.view-layout-masonry .example-container .grid-sizer,
.view-layout-masonry .example-container.col-2 .grid-sizer {
  width: 46%;
}

.view-layout-masonry .example-container.col-3 .grid-sizer {
  width: 27.5%;
}

.view-layout-masonry .example-container.col-4 .grid-sizer {
  width: 19.5%;
}

/*--------------------------------------------------
 * columns
 *--------------------------------------------------*/
.view-layout-columns .example-container {
  padding-bottom: 15px;
}

.view-layout-columns .example-container {
  text-align: center;

  /* a minimum width fallback */
  -webkit-column-width: 25px;
  -moz-column-width: 25px;
  column-width: 25px;

  -webkit-column-gap: 10px;
  -moz-column-gap: 10px;
  column-gap: 10px;

  /* chrome does not repaint column-rule when switching classes in js :( */
  /*-webkit-column-rule: 1px dashed #999;*/
  /*-moz-column-rule: 1px dashed #999;*/
  /*column-rule: 1px dashed #999;*/

  -webkit-margin-bottom-collapse: separate;
}

.view-layout-columns .example-container.col-2 {
  -webkit-column-count: 2;
  -moz-column-count: 2;
  column-count: 2;
}

.view-layout-columns .example-container.col-3 {
  -webkit-column-count: 3;
  -moz-column-count: 3;
  column-count: 3;
}

.view-layout-columns .example-container.col-4 {
  -webkit-column-count: 4;
  -moz-column-count: 4;
  column-count: 4;
}

/*--------------------------------------------------
 * grid
 *--------------------------------------------------*/
.view-layout-grid .example-container {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;

  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;

  /*justify-content: flex-start | flex-end | center | space-between | space-around;*/
  justify-content: space-between;
}

.view-layout-grid .example-container .box {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.view-layout-grid .example-container.col-2 .box {
  width: 47%;
}

.view-layout-grid .example-container.col-3 .box {
  width: 29%;
}

.view-layout-grid .example-container.col-4 .box {
  width: 21%;
}

/*--------------------------------------------------
 * misc
 *--------------------------------------------------*/

span.shortcode-att-highlight,
.inline span.shortcode-att-highlight {
  color: #FF0000;
  margin: 0;
}

.highlight-on {
  /* 00A4F3 */
  background: rgba(0, 164, 263, 0.05);
  border: 1px solid rgba(0, 164, 263, 0.1);
  padding: 0 0.5em;
}

.subgroup {
  border: 1px solid #DDD;
  padding: 0 0.5em;
}

.subgroup-heading {
  font-weight: 600;
}

.subgroup .subgroup-heading + .row-inner {
  margin-top: 5px;
}

.subgroup .row-inner {
  margin-bottom: 10px;
}

.min-width-1 {
  min-width: 152px;
}

.label-not-adjacent {
  margin-right: 0.3em;
}

/* =custom fields
--------------------------------------------------*/

.fields {
  display: inline-block;
  min-width: 350px;

  .field2 {
    border: 1px solid #DDD;
    background: #FFF; /* for better dragging */
    transition: background 0.3s ease, border 0.3s ease;

    &.open {
      background: #FFF;
      border-color: #444;
    }

  }

  .field3 {
    flex: 20;
  }

  span.link {
    display: inline-block;
    cursor: pointer;
    padding: 10px 10px 8px;
    width: calc(100% - 20px);
  }
}

.controls2 {
  > div {
    display: flex;
  }

  .icon-wrap {
    position: relative;
    top: 1px;
    color: #999;

    &:hover {
      cursor: pointer;
    }
  }

  &.left {
    float: left;

    .icon-wrap {
      margin-right: 5px;
    }
  }

  &.right {
    float: right;

    .icon-wrap {
      margin-left: 5px;
    }
  }

  /* icons */
  .handle,
  .delete,
  .toggle {
    &:before {
      font: normal 20px/1 dashicons;
      width: 20px;
      height: 20px;
    }

    &:hover {
      cursor: pointer;
    }
  }

  .delete {
    &:before {
      content: "\f335";
    }

    &:hover:before {
      background: #FF0000;
      color: #FFF;
      border-radius: 1px;
    }
  }

  .handle {
    &:before {
      content: "\f333";
    }

    &:hover {
      color: #2ea2cc;
      cursor: move;
    }
  }

  .toggle {
    &:before {
      content: "\f140";
    }

    &:hover:before {
      color: #2EA2CC;
    }
  }
}

.field-description {
  padding: 0 5px;
  font-weight: 600;
  text-decoration: none;
  color: #444;

  &:hover {
    color: #444;
  }
}

.field-properties {
  padding: 5px 10px;
  border-top: 1px dotted #DDD;
}

.field-property,
.field-property-box .flex {
  display: flex;
  margin: 5px 0;

  label,
  .nolabel {
    flex: 0 1 80px;
    line-height: 28px;
  }

  select, input {
    flex: 3;
  }
}

.field2.open .toggle:before {
  content: "\f142";
}

.sortable-placeholder {
  background: lightyellow !important;
  margin: 0;
}

.ui-sortable-helper {
  border: 1px solid #444 !important;
}

div.help {
  font-style: italic;
  padding-bottom: 5px;
}

#add-field-bar {
  margin-top: 10px;
}

@-moz-document url-prefix() {
  select optgroup {
    font-style: normal;
    margin-left: 3px;
  }
}

/* =help tab
--------------------------------------------------*/
table.wpmtst-help-tab {
  border-collapse: collapse;
  margin: 20px 0;
  width: 100%;

  tr {
    &:hover {
      td {
        background: #FFFFAA;
      }
    }
  }

  th,
  td {
    padding: 5px 10px;
    text-align: center;
  }

  th {
    border-bottom: 1px solid #AAA;
  }

  td {
    border-bottom: 1px solid #E1E1E1;

    &:first-child {
      text-align: right;
      font-weight: 600;
      white-space: nowrap;
    }
    &:not(:last-child) {
      border-right: 1px dotted #E1E1E1;
    }
  }
}

.template-optgroup {
  font-weight: 600;
  margin: 15px 10px 10px 5px;
}

/* ==Views list table sticky
-----------------------------------------------*/
.wp-list-table-wrap {
  position: relative;
}
.stickit {
  cursor: pointer;
}
.stickit, .stickit:before {
  content: "\f154";
  display: inline-block;
  width: 20px;
  height: 20px;
  color: #aaa;
  font-size: 20px;
  line-height: 1;
  font-family: dashicons;
  text-decoration: inherit;
  font-weight: normal;
  font-style: normal;
  vertical-align: top;
  text-align: center;
  -webkit-transition: color .1s ease-in;
  transition: color .1s ease-in;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.stickit.stuck:before {
  content: "\f155";
  color: #0073aa;
}
.stickit:hover:before {
  content: "\f155";
  color: #0096dd;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(96,96,96,0.3);
}