/**
 * Strong Testimonials Default Form template
 */
@import "../_partials/structure-form";

.strong-form {
  label {
    font-weight: 700;

    // checkbox
    &.field-wrap {
      font-weight: 400;
      display: block;
    }
  }

  input[type="checkbox"] {
    margin: 0 0.5em 0 .3em;

    + label {
      font-weight: 400;
    }
  }

  .form-field .after {
    font-size: .9em;
    font-style: italic;
  }

  input.error,
  textarea.error,
  select.error,
  .field-wrap.error {
    background: #F9E5E6;
    border: 1px solid #E8AAAD;
    color: #B50007;
  }

  .field-wrap.error {
    padding-left: 0.5em;
  }

  span.error,
  label.error {
    color: #B50007;
  }
}
