.wpm-testimonial_page_about-strong-testimonials {


	.wpmst-mascot {
		width: 160px;
		margin-left: 1rem;
		float: right;
	}
}

.edit-php.post-type-wpm-testimonial {

	.wpmtst-notice {
		padding: 2.5rem 2rem;
		border: 2px solid #7F22DE;
	}

	.wpmtst-notice img {
		max-width: 100%;
	}

	.wpmst-mascot {
		width: 120px;
		margin-right: 2rem;
		float: left;
	}

}