/**
 * Star Ratings - Display Only
 *
 * Pure CSS. No floats or bidi. Simple em-based sizing.
 *
 * http://codepen.io/cdillon/pen/vXNbBw
 *
 * Based on Pure CSS Star Rating Widget by James Barnett
 * http://codepen.io/jamesbarnett/pen/vlpkh
 */

/* the container */
.strong-rating-wrapper {
  line-height: 1.7;
}

/* inline-block */
.strong-rating-wrapper.average > span {
  display: inline-block;
}

/* block */
.strong-rating-wrapper.average.block > span {
  display: block;
  margin: 0;
}

/* centered */
.strong-rating-wrapper.average.centered {
  text-align: center;
}

.strong-rating-title {
  font-weight: 700;
}

.strong-rating-wrapper legend {
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute !important;
  width: 1px;
  word-wrap: normal !important;
}

/* the fieldset */
.strong-rating {
  display: inline-block;
  border: 0;
}

/* the stars */

.strong-rating span.star {
  display: inline-block;
  margin: 0;
  max-height: none;
  max-width: none;
  padding: 0;
}

.strong-rating-wrapper:not(.average) span.star:first-child:before {
  padding-left: 0;
}

.strong-rating-wrapper:not(.average) span.star:last-child:before {
  padding-right: 0;
}

.strong-rating span.star:hover {
  cursor: default;
}

/* fieldset tweaks */

/* in a form */
.strong-rating-wrapper.in-form .strong-rating {
  padding: 0;
}

/* in a view */
.strong-rating-wrapper.in-view {
  display: inline-block;
}

.strong-rating-wrapper.in-view .strong-rating {
  margin: 0;
  padding: 0;
}

/* in the post editor */
.strong-rating-wrapper.in-metabox {
  display: inline-block;
}

.strong-rating-wrapper.in-metabox .strong-rating span.star:before {
  font-size: 20px;
  line-height: 27px;
}

.strong-rating-wrapper.in-table-list .strong-rating span.star:before {
  /* use padding not margin */
  padding: 1px;
}

/* the magic */

/* this is how we highlight stars before the checked one (siblings before): */

/* hide the first label because our rating may be zero */
.strong-rating span.star0 {
  display: none;
}

/* set the color of the star and its stroke(outline) color and width */
.strong-rating-wrapper .star svg path {
  fill: #FFB900;
  stroke: #000;
  stroke-width: 6;
}
/* set the width of the star */
.strong-rating-wrapper .star svg {
  width: 20px;
}

/* then turn off stars after the current rating */
.strong-rating span.current ~ span.star:before {
  content: "";
  -webkit-mask: url('../svg/star-regular.svg') center center no-repeat;
  mask: url('../svg/star-regular.svg') center center no-repeat;
}

/* turn on the current rating */
.strong-rating span.current:before {
  color: #FFB900;
}

/* which may be a half star */
.strong-rating-wrapper.average .strong-rating span.star.half:before {
  content: "";
  -webkit-mask: url('../svg/star-half-alt-solid.svg') center center no-repeat;
  mask: url('../svg/star-half-alt-solid.svg') center center no-repeat;
}

/* Responsive
--------------------------------------------------*/
@media only screen and (max-width: 480px) {
  .strong-rating-wrapper > span {
    display: block;
    line-height: 30px;
    vertical-align: middle;
    margin: 0;
    text-align: center;
  }
}
