/* =bxSlider structure
---------------------------------------------------------*/
.strong-view .wpmslider-wrapper {
  position: relative;
  margin: 0 auto;
  padding: 0;
  *zoom: 1;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  direction: ltr;
}
.strong-view .wpmslider {
  margin: 0;
  padding: 0;
}
.strong-view .wpmslider-viewport {
  /* fix other elements on the page moving (on Chrome) */
  -webkit-transform: translatez(0);
}

/* =pager
---------------------------------------------------------*/
.strong-view .wpmslider-pager {
  display: inline-block;
}
.strong-view.rtl .wpmslider-pager {
  direction: rtl;
}
.strong-view .wpmslider-pager-item {
  display: inline-block;
}
.strong-view .wpmslider-pager-link {
  text-decoration: none;
}

/* =controls
---------------------------------------------------------*/
.strong-view .wpmslider-start,
.strong-view .wpmslider-stop,
.strong-view .wpmslider-next,
.strong-view .wpmslider-prev {
  z-index: 5;
}
.strong-view .wpmslider-controls-auto,
.strong-view .wpmslider-controls-direction {
  display: inline-block;
  vertical-align: middle;
}
.strong-view .wpmslider-controls a {
  box-shadow: none;
  text-decoration: none;
}
.strong-view .wpmslider-controls a:hover, .strong-view .wpmslider-controls a:active, .strong-view .wpmslider-controls a:focus {
  outline: 0;
}

.strong-view.controls-style-buttons2 .wpmslider-start,
.strong-view.controls-style-buttons2 .wpmslider-stop,
.strong-view.controls-style-buttons2 .wpmslider-next,
.strong-view.controls-style-buttons2 .wpmslider-prev {
  display: inline-block;
  background: #C0C0C0;
  border-radius: 5px;
  color: #FFF;
  cursor: pointer;
  font-size: 16px;
  line-height: 27px;
  width: 27px;
  height: 27px;
  text-align: center;
  transition: all 0.2s ease;
}
.strong-view.controls-style-buttons2 .wpmslider-start:before {
  content: "";
  background:#fff;
  position: relative;
  -webkit-mask: url('../svg/play-solid.svg') center center no-repeat;
  mask: url('../svg/play-solid.svg') center center no-repeat;
  top:3px;
  display: inline-block;
  width: 20px;
  height: 20px;
  left: 1px;
}
.strong-view.controls-style-buttons2 .wpmslider-stop:before {
  content: "";
  background:#fff;
  -webkit-mask: url('../svg/pause-solid.svg') center center no-repeat;
  mask: url('../svg/pause-solid.svg') center center no-repeat;
  display: inline-block;
  width: 20px;
  height: 20px;
  position: relative;
  top:3px;
}
.strong-view.controls-style-buttons2 .wpmslider-start:hover,
.strong-view.controls-style-buttons2 .wpmslider-stop:hover,
.strong-view.controls-style-buttons2 .wpmslider-next:hover,
.strong-view.controls-style-buttons2 .wpmslider-prev:hover {
  background: #333;
}
.strong-view.controls-style-buttons2:not(.rtl) .wpmslider-prev:before {
  content: "";
  -webkit-mask: url('../svg/chevron-left-solid.svg') center center no-repeat;
  mask: url('../svg/chevron-left-solid.svg') center center no-repeat;
  background:#fff;
  position: relative;
  left: -1px;
  display: inline-block;
  width: 20px;
  height: 20px;
  top: 3px;
}
.strong-view.controls-style-buttons2:not(.rtl) .wpmslider-next:before {
  content: "";
  -webkit-mask: url('../svg/chevron-right-solid.svg') center center no-repeat;
  mask: url('../svg/chevron-right-solid.svg') center center no-repeat;
  position: relative;
  left: 1px;
  display: inline-block;
  width: 20px;
  background: #fff;
  height: 20px;
  top: 3px;
}
.strong-view.controls-style-buttons2.rtl .wpmslider-prev:before {
  content: "";
  -webkit-mask: url('../svg/chevron-right-solid.svg') center center no-repeat;
  mask: url('../svg/chevron-right-solid.svg') center center no-repeat;
  position: relative;
  left: 1px;
  top: 3px;
  display: inline-block;
  width: 20px;
  background: #fff;
  height: 20px;
}
.strong-view.controls-style-buttons2.rtl .wpmslider-next:before {
  content: "";
  -webkit-mask: url('../svg/chevron-left-solid.svg') center center no-repeat;
  mask: url('../svg/chevron-left-solid.svg') center center no-repeat;
  position: relative;
  left: -1px;
  top: 3px;
  display: inline-block;
  width: 20px;
  background: #fff;
  height: 20px;
}

.strong-view.nav-position-inside:not(.controls-type-sides) .wpmslider-controls {
  position: absolute;
  bottom: 0;
  width: 100%;
  line-height: 1;
  padding-bottom: 15px;
  text-align: center;
  z-index: 5;
}
.strong-view.nav-position-inside:not(.controls-type-sides) .wpmslider-controls .wpmslider-start,
.strong-view.nav-position-inside:not(.controls-type-sides) .wpmslider-controls .wpmslider-stop,
.strong-view.nav-position-inside:not(.controls-type-sides) .wpmslider-controls .wpmslider-prev,
.strong-view.nav-position-inside:not(.controls-type-sides) .wpmslider-controls .wpmslider-next {
  margin: 0 3px;
}

.strong-view.nav-position-outside .wpmslider-controls {
  line-height: 1;
  padding: 20px 0 20px;
  text-align: center;
  z-index: 5;
}
.strong-view.nav-position-outside .wpmslider-controls .wpmslider-start,
.strong-view.nav-position-outside .wpmslider-controls .wpmslider-stop,
.strong-view.nav-position-outside .wpmslider-controls .wpmslider-prev,
.strong-view.nav-position-outside .wpmslider-controls .wpmslider-next {
  margin: 0 3px;
}
