/*-----------------------------------------------
 Structure
-----------------------------------------------*/

.clear {
  clear: both;
}

.table {
  display: table;
}

.table-row {
  display: table-row;
}

.table-cell {
  display: table-cell;
  vertical-align: top;
}

