/**
 * Strong Testimonials Default Widget template
 */

$template: small-widget;

@import "../_mixins/testimonial";
@import "../_partials/clear";
@import "../_partials/base";

/* Template
-----------------------------------------------*/
.strong-view.#{$template} {
  margin-bottom: 1em;

  .wpmtst-testimonial {
    margin-bottom: 1em;
  }

  .wpmtst-testimonial-inner {
	padding: 10px;

	& > *:not(:nth-last-child(2)):not(:last-child) {
		margin-bottom: 5px;
	}
  }

  .wpmtst-testimonial-heading {
    margin-bottom: 1em;
  }

  .wpmtst-testimonial-content {
    @include paragraphs;
  }

  .wpmtst-testimonial-image {
    float: left;
    margin-top: 0.25em;
    margin-right: 1em;
    margin-bottom: .5em;
  }

  .wpmtst-testimonial-field {
    clear: both;
  }

  .wpmtst-testimonial-name {
    font-weight: 700;
  }

  .readmore {
    margin-top: 1em;
  }

  .readmore-page {
    border: 1px solid #E6E6E6;
    padding: 0.5em;
    text-align: center;
  }
}

/* Slideshow
-----------------------------------------------*/
.strong-view.#{$template} {
  &.slider-container {
    .strong-content {
      margin: 0 auto;
    }
    .wpmtst-testimonial:not(:first-child) {
      display: none;
    }
  }

  &.nav-position-inside {
    .wpmtst-testimonial-inner {
      padding-bottom: 48px;
    }
  }

  &.controls-type-sides .wpmtst-testimonial-inner {
    padding-left: 50px;
    padding-right: 50px;
  }
}

/* Responsive
-----------------------------------------------*/
@import "../_partials/responsive";

/* RTL
-----------------------------------------------*/
@import "../_partials/rtl";

/* Option: Image Right
-----------------------------------------------*/
.strong-view.#{$template}.image-right {
  .wpmtst-testimonial-image {
    float: right;
    margin-left: 1em;
    margin-bottom: 0.1em;
  }
}

@media only screen and (max-width: 480px) and (orientation: portrait) {
  .strong-view.#{$template}.image-right .strong-content .wpmtst-testimonial-image {
    float: none;
  }
}

.strong-view.#{$template}.image-right.rtl {
  .wpmtst-testimonial,
  .wpmtst-testimonial-inner,
  .wpmtst-testimonial-heading {
    text-align: right;
  }

  .wpmtst-testimonial-image {
    float: left;
    margin-left: 0;
    margin-right: 1em;
  }
}
