/**
 * Strong Testimonials Default template
 */
/* Clears
-----------------------------------------------*/
.clear {
  clear: both;
}

/**
Minimum paragraph width means no short words in skinny space next to image
in columns or small screens.

This workaround is needed until we can use flexbox properly
or CSS offers container queries.

Thanks https://css-tricks.com/minimum-paragraph-widths/
*/
.maybe-clear {
  content: "";
  /* this value seems to work well in both responsive and Masonry */
  width: 6em;
  display: block;
  overflow: hidden;
}

/* Base
-----------------------------------------------*/
.strong-view.wpmtst-default {
  display: block;
  width: 100%;
}
.strong-view.wpmtst-default div {
  box-sizing: border-box;
}
.strong-view.wpmtst-default .wpmtst-testimonial {
  max-height: none;
  max-width: none;
  padding: 0;
  width: 100%;
}
.strong-view.wpmtst-default .wpmtst-testimonial.t-slide {
  margin-top: 0;
  margin-bottom: 0;
}
.strong-view.wpmtst-default .wpmtst-testimonial-inner {
  display: block;
  width: 100%;
  height: 100%;
}
.strong-view.wpmtst-default .wpmtst-testimonial-image {
  max-width: 50%;
}
.strong-view.wpmtst-default .wpmtst-testimonial-field-before {
  margin-right: 0.5em;
}
.strong-view.wpmtst-default a.readmore,
.strong-view.wpmtst-default a.readmore-toggle {
  white-space: nowrap;
  z-index: 100;
}
.strong-view.wpmtst-default a.readmore-toggle:hover {
  cursor: pointer;
}

.strong-view.slider-container {
  opacity: 1;
}
.strong-view .screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute !important;
  width: 1px;
  word-wrap: normal !important;
}

/* Template
-----------------------------------------------*/
.strong-view.wpmtst-default .strong-content {
  margin: 20px auto 0;
}
.strong-view.wpmtst-default .wpmtst-testimonial {
  border: 1px solid #E6E6E6;
  margin: 20px auto;
  text-align: left;
}
.strong-view.wpmtst-default .wpmtst-testimonial:first-child {
  margin-top: 0;
}
.strong-view.wpmtst-default .wpmtst-testimonial:last-child {
  margin-bottom: 0;
}
.strong-view.wpmtst-default .wpmtst-testimonial-inner {
  border: 1px solid #FFFFFF;
  padding: 20px;
  text-align: left;
}
.strong-view.wpmtst-default .wpmtst-testimonial-inner > *:not(:nth-last-child(2)):not(:last-child) {
	margin-bottom: 5px;
}
.strong-view.wpmtst-default .wpmtst-testimonial-heading {
  background: url("img/quotes.png") no-repeat scroll left center transparent;
  margin-top: 0;
  padding-left: 40px;
  text-align: left;
}
.strong-view.wpmtst-default .wpmtst-testimonial-content p:first-of-type {
  margin-top: 0;
  padding-top: 0;
}
.strong-view.wpmtst-default .wpmtst-testimonial-content p:last-of-type {
  margin-bottom: 0;
  padding-bottom: 0;
}
.strong-view.wpmtst-default .wpmtst-testimonial-image {
  margin-top: 0.25em;
  margin-right: 1em;
  margin-bottom: 0.25em;
  float: left;
}
.strong-view.wpmtst-default .wpmtst-testimonial-image img {
  background: none repeat scroll 0 0 #FFFFFF;
  border: 1px solid #EFEFEF;
  padding: 6px;
  margin: 0 auto;
}
.strong-view.wpmtst-default .wpmtst-testimonial-image a {
  text-decoration: none;
  box-shadow: none;
}
.strong-view.wpmtst-default .wpmtst-testimonial-image .initials {
  background: none repeat scroll 0 0 #FFFFFF;
  border: 1px solid #EFEFEF;
  padding: 6px;
  margin: 0 auto;
  text-align: center;
  font-size: 42px;
  font-weight: bold;
  display: table-cell;
  vertical-align: middle;
}
.strong-view.wpmtst-default .wpmtst-testimonial-field {
  text-align: right;
}
.strong-view.wpmtst-default .wpmtst-testimonial-name {
  font-weight: bold;
}
.strong-view.wpmtst-default .readmore {
  margin-top: 1em;
}
.strong-view.wpmtst-default .strong-view-footer {
  margin-bottom: 20px;
}
.strong-view.wpmtst-default .readmore-page {
  margin-top: 20px;
  padding: 1em;
  text-align: center;
  border: 1px solid #E6E6E6;
}

/* Pagination
-----------------------------------------------*/
/* Simple pagination
-----------------------------------------------*/
.strong-view.wpmtst-default.strong-pager {
  display: none;
}

.simplePagerList {
  /* match .strong-content container */
  margin: 20px auto;
  text-align: center;
}

.strong-view ul.simplePagerNav {
  margin: 0 auto;
  padding: 0;
  display: inline-block;
}
.strong-view ul.simplePagerNav li {
  display: inline;
  list-style: none;
  margin: 0;
  padding: 0;
}
.strong-view ul.simplePagerNav li a {
  margin: 0 0.2em;
  padding: 0.1em 0.3em;
  outline: none;
  text-decoration: none;
  transition: background 0.2s ease;
}
.strong-view ul.simplePagerNav li a:hover {
  background: #BBB;
  color: #FFF;
}
.strong-view ul.simplePagerNav li.currentPage a {
  text-decoration: none;
  background: #999;
  color: #FFF;
}

.strong-view.rtl ul.simplePagerNav li {
  float: right;
}

/* Standard pagination
-----------------------------------------------*/
.strong-view .nav-links {
  margin: 20px auto;
  text-align: center;
}
.strong-view .nav-links a, .strong-view .nav-links span {
  display: inline-block;
  line-height: 1.5;
  margin: 0 0.2em;
  padding: 0.1em 0.3em;
  transition: background 0.2s ease;
}
.strong-view .nav-links a.current, .strong-view .nav-links span.current {
  background: #999;
  color: #FFF;
}
.strong-view .nav-links a {
  outline: none;
  text-decoration: none;
}
.strong-view .nav-links a:hover,
.strong-view .nav-links a.prev:hover,
.strong-view .nav-links a.next:hover,
.strong-view .nav-links span:hover {
  background: #BBB;
  color: #FFF;
}

/* Slideshow
-----------------------------------------------*/
.strong-view.wpmtst-default.slider-container {
  /* If vertical or fade slideshow, move border from individual testimonials to viewport. */
}
.strong-view.wpmtst-default.slider-container.slider-adaptive:not(.slider-mode-horizontal) .wpmslider-viewport {
  border: 1px solid #E6E6E6;
}
.strong-view.wpmtst-default.slider-container.slider-adaptive:not(.slider-mode-horizontal) .wpmtst-testimonial {
  border: 0;
}
.strong-view.wpmtst-default.slider-container .strong-content {
  margin: 0 auto;
}
.strong-view.wpmtst-default.slider-container .wpmtst-testimonial:not(:first-child) {
  display: none;
}
.strong-view.wpmtst-default.nav-position-inside .wpmtst-testimonial-inner {
  padding-bottom: 48px;
}
.strong-view.wpmtst-default.controls-type-sides .wpmtst-testimonial-inner {
  padding-left: 50px;
  padding-right: 50px;
}
.strong-view.wpmtst-default.slider-stretch .wpmtst-testimonial-inner {
  /* to force same height for all slides */
  height: 100%;
}

/* Responsive
-----------------------------------------------*/
@media only screen and (max-width: 320px) {
  .strong-view.wpmtst-default .wpmtst-testimonial-image {
    float: none;
    margin-left: auto;
    margin-right: auto;
  }
}
/* Remove quote background image */
@media only screen and (max-width: 320px) and (orientation: portrait) {
  .strong-view.wpmtst-default .wpmtst-testimonial-heading {
    background: none;
    padding-left: 0;
  }
}
/* RTL
-----------------------------------------------*/
.strong-view.wpmtst-default.rtl .wpmtst-testimonial,
.strong-view.wpmtst-default.rtl .wpmtst-testimonial-inner,
.strong-view.wpmtst-default.rtl .wpmtst-testimonial-heading {
  text-align: right;
}
.strong-view.wpmtst-default.rtl .wpmtst-testimonial-image {
  float: right;
  margin-left: 1em;
}
.strong-view.wpmtst-default.rtl .wpmtst-testimonial-field {
  text-align: left;
}

.strong-view.wpmtst-default.rtl .wpmtst-testimonial-heading {
  padding-right: 40px;
  background-position: right;
}

/* Option: Image Right
-----------------------------------------------*/
.strong-view.wpmtst-default.image-right .wpmtst-testimonial-image {
  float: right;
  margin-top: .25em;
  margin-bottom: 0.25em;
  margin-left: 1em;
}
.strong-view.wpmtst-default.image-right .wpmtst-testimonial-field {
  text-align: left;
}

.strong-view.wpmtst-default.image-right.rtl .wpmtst-testimonial-image {
  float: left;
  margin-left: 0;
  margin-right: 1em;
}
.strong-view.wpmtst-default.image-right.rtl .wpmtst-testimonial-field {
  text-align: right;
}

/* Option: No Quotes
-----------------------------------------------*/
.strong-view.wpmtst-default.no-quotes .wpmtst-testimonial-heading {
  background: none;
  padding-left: 0;
}

/* Option: Dark Theme
-----------------------------------------------*/
.strong-view.wpmtst-default.dark .wpmtst-testimonial {
  border: 1px solid #777;
}
.strong-view.wpmtst-default.dark .wpmtst-testimonial-inner {
  border: 1px solid #333;
}
.strong-view.wpmtst-default.dark .readmore-page {
  border: 2px solid #777;
}
.strong-view.wpmtst-default.dark ul.simplePagerNav li a:hover {
  background: #777;
  color: #FFF;
}
.strong-view.wpmtst-default.dark ul.simplePagerNav li.currentPage a {
  background: #555;
  color: #FFF;
}

.disabled {
  display: none !important;
}

.wpmslider-controls.disabled {
    display: block !important;
}

/*  Compatibility with metaslider pro layers display
----------------------------------------------------*/

.msHtmlOverlay .layer .disabled {
    display: block !important;
}