/**
 * Strong Testimonials admin stylesheet
 */

.error {
	color: red;
}

li.warning {
	background: lightyellow;
}

.wpmtst input.button.restore-default-shortcode {
	margin-right: 0;
}

.between-inputs {
	margin-left: 0.3em;
	margin-right: 0.3em;
}

.intro p {
	font-size: 14px;
}

.wrap.wpmtst h3 {
	margin: 2em 0 1em;
}

.wrap.wpmtst p {
	font-size: 14px;
}

.wrap.wpmtst .notice p {
	font-size: 13px;
}

.wpmtst h2 {
	margin-bottom: 1em;
}

.wpmtst .list-wrap {
	padding: .5em;
}

.wp-core-ui .button-primary.active,
.wp-core-ui .button-primary.active:hover,
.wp-core-ui .button-primary.active:focus,
.wp-core-ui .button-primary:active {
	vertical-align: baseline;
}

/* Firefox fix */
a.widget-action:focus {
	outline: none;
}

/* Slug field */
input#post_name {
	width: 98%;
}

/* Client Details metabox */
#details table.options {
	width: 98%;
}

input.custom-input {
	width: 65%;
}

/* Help sections
---------------------------------------------------------*/

div.help {
	margin-left: 0;
}

div.help.minor {
	font-size: 0.9em;
	text-align: left;
}

/* Settings table
---------------------------------------------------------*/

.stackem ul {
	margin: 0;
}

.stackem li {
	margin-bottom: 0;
}

.stackem label {
	display: inline-block;
	line-height: 28px;
	margin-right: 0.5em;
	vertical-align: baseline;
}

.stackem label.inline {
	display: inline-block;
}

.stackem .notice {
	background: none;
	border: none;
	box-shadow: none;
	display: inline-block;
	font-size: .9em;
	font-style: italic;
	margin: 0 .2em;
	padding: 0;
	color: #868686;
}

.stackem span.link {
	display: inline-block;
	margin: 0 .3em;
	font-size: .9em;
	line-height: 28px;
}

.stackem label.disabled {
	color: #888;
}

div.radio {
	line-height: 1.5em;
}

div.radio:hover {
	color: #000;
}

#screenshot-screen-options,
#help-section {
	display: none;
}

.screenshot > div {
	display: inline-block;
	-webkit-box-shadow: inset 0px 0px 40px rgba(0, 0, 0, 0.8);
	-moz-box-shadow: inset 0px 0px 40px rgba(0, 0, 0, 0.8);
	box-shadow: inset 0px 0px 40px rgba(0, 0, 0, 0.8);
}

.help-text {
	padding: 0.5em 0;
}

/* form table */

.wpmtst .form-table {
	vertical-align: middle;
}

.wpmtst .form-table td:nth-child(1) {
	width: 200px;
}

.wpmtst .form-table .parent {
	border-bottom: 0;
	vertical-align: top;
}

.wpmtst .form-table th.parent + td {
}

.wpmtst .form-table .child {
	border-top: 0;
}

.wpmtst .form-table p {
	/*margin-bottom: 1em;*/
}

.wpmtst .form-table td p:last-child {
	margin-bottom: 0;
}

.wpmtst .form-table input,
.wpmtst .form-table select,
.wpmtst .form-table textarea {
	line-height: 1.5em;
}

.wpmtst .form-table input[type="button"] {
	line-height: 26px;
	height: 28px;
}

.wpmtst select {
	min-width: 120px;
}

.wpmtst option {
	padding-left: 5px;
}

.wpmtst .form-table div.box {
	border: 1px solid #DDD;
	display: inline-block;
	padding: 10px;
}

.wpmtst .form-table .row {
	line-height: 2.5em;
}

.wpmtst .form-table .alpha {
	width: 120px;
}

.wpmtst .form-table .alpha.alpha-110 {
	width: 110px;
}

.wpmtst .form-table .alpha + div {
	display: inline-block;
}

/* compact */

.wpmtst .form-table.compact th,
.wpmtst .form-table.compact td {
	border-top: none;
	border-bottom: none;
	padding: 5px 0;
}
.wpmtst .form-table.compact td:first-child {
	padding-left: 10px;
}

.wpmtst .form-table.compact tr:first-child th,
.wpmtst .form-table.compact tr:first-child td {
	padding-top: 10px;
}

.wpmtst .form-table.compact tr:last-child th,
.wpmtst .form-table.compact tr:last-child td {
	padding-bottom: 10px;
}

.wpmtst .form-table.compact td:nth-child(3) {
	width: 100px;
	padding-left: 10px;
}

.wpmtst .form-table.compact td:nth-child(3) input.button {
	margin-right: 0;
}

.wpmtst .form-table.compact input[type="text"] {
	width: 100%;
}

.wpmtst .form-table.compact input.error {
	border-color: red;
	border-radius: 2px;
	box-shadow: none;
}

.wpmtst .form-table.compact label.error {
	color: red;
	display: block;
}

.form-table td.align-top {
	vertical-align: top;
}

/* end: form-table */

.code {
	background: #FFF;
}

.code.wide {
	padding: 2px 5px;
	margin: 3px;
	border-radius: 2px;
}

.wpmtst input.button {
	margin-right: 10px;
}

.custom-input {
	line-height: 1.3em;
}

.indent {
	margin-left: 2em;
}

.outdent {
	margin-left: -2em;
}

.hilite {
	background: lightyellow;
	border-radius: 4px;
	display: inline-block;
	padding: .25em .75em;
	-webkit-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
	box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

p.description.hilite {
	margin-bottom: 2em;
}

ul.compact {
	margin: 0;
}

ul.compact li {
	display: inline-block;
	margin: 6px 30px 6px 0;
}

/* Client details meta box
---------------------------------------------------------*/

#details table {
	border: none;
}

#details td {
	margin: 5px;
	padding: 5px;
}

#details th {
	text-align: right;
	font-weight: 400;
}

.icon-arrow-right:after {
	content: "\21E8";
	font-size: larger;
	font-weight: 700;
	color: blue;
}

/* Descriptions
------------------------------------------------*/
.form-table th p.description,
.form-table td p.description {
	font-size: 14px;
}

.description.inline {
	display: inline-block;
}

.description a {
	text-decoration: underline;
}

.description a:hover {
	text-decoration: none;
}

.radio .description {
	padding-left: 20px;
}

li.checkbox {
	margin-bottom: 10px;
}

.checkbox .description {
	padding-left: 24px;
}

ul.description {
	font-style: italic;
	color: #666;
	margin-top: 4px;
	list-style-type: disc;
	margin-left: 16px;
}

/* Widget
------------------------------------------------*/
.wpmtst-widget-form {
	margin-bottom: 1em;
}

.widget-inside p {
	margin: .5em 0;
}

input[disabled],
input[readonly] {
	color: #999;
	background: rgba(0, 0, 0, 0.04);
}

/* Categories admin list
------------------------------------------------*/
.widefat th.column-ID {
	width: 2.2em;
}

/* The notification email settings tab
------------------------------------------------*/
td.tall {
	vertical-align: top;
}

.subsection .subsection-title {
	font-weight: 700;
}

.subsubsection {
	width: 100%;
}

#admin-notify-fields {
	padding-top: 10px;
}

.subsubsection.ib {
	display: inline-block;
}

.subsection table {
	border-spacing: 0;
	margin-top: 20px;
}

.subsection table.first {
	margin-top: 10px;
}

.subsection table.wide {
	width: 100%;
}

.subsection table.half-width {
	width: 50%;
}

.subsection table thead {
	width: 100%;
}

.subsection table tbody tr {
	border: 1px solid #EEE !important;
}

/* reset */
.subsection table th,
.subsection table td {
	vertical-align: top;
	border-top: 0 !important;
	width: auto !important;
	border-bottom: inherit !important;
}

.subsection table th {
	padding: 0 0 7px 0 !important;
}

.subsection table td {
	padding: 7px 10px !important;
}

.subsection tbody {
	background: #FFF;
}

.subsection table td.single-field {
	padding: 0 !important;
	background: #F1F1F1 !important;
}

.subsection label.block {
	display: block;
	line-height: 1.5em;
	padding: 5px 0;
}

.subsection label.indent {
	display: block;
	line-height: 1.5em;
	margin-left: 23px;
}

.subsection .controls {
	display: inline-block;
	width: 20px;
}

/* delete email recipient */
.delete-recipient {
	color: #BBB;
	display: inline-block;
}

.delete-recipient:hover {
	color: #CD0000;
	cursor: pointer;
}

.subsection a {
	display: inline-block;
	margin: 0 .3em;
	font-size: .9em;
}

.subsection div > label > span {
	display: inline-block;
	margin-right: 5px;
	width: 4.5em;
}

.subsection textarea,
.subsection input.wide {
	width: 100%;
}

.subsection textarea {
	white-space: pre-wrap;
}

.subsection .template-tags-help {
	float: right;
	display: inline-block;
	background: #FFFFE0;
	width: 320px;
	padding: 0;
	margin-top: 45px;
	margin-left: 2em;
}

.template-tags-help ul {
	margin: 0;
}

.template-tags-help .title {
	background: rgba(0, 0, 0, 0.1);
	padding: 5px;
}

.template-tags-help .content {
	padding: 5px;
}

.name-email {
	margin-right: 1.5em;
}

/* Post list table
------------------------------------------------*/
td.column-shortcode {
	white-space: nowrap;
	font-family: Consolas, Monaco, monospace;
}

/* Plugin Sidebar
------------------------------------------------*/
#plugin-sidebar {
	width: 320px;
	float: right;
	margin-left: 3em;
	margin-bottom: 2em;
	padding: 0 1em;
	background: #EDF2F8;
	border: 1px solid #9AC8FE;
	border-top-width: 5px;
}

#plugin-sidebar div {
	margin: 20px 0 20px 45px;
	font-size: 1.1em;
}

#plugin-sidebar p {
	margin: 0;
}

#plugin-sidebar ul {
	font-size: 1em;
	margin: 0;
}

#plugin-sidebar li {
	list-style-type: none;
	padding-left: 0;
	margin: 0.5em 0;
}

#plugin-sidebar .has-icon:before {
	font-family: dashicons;
	color: #9AC8FE;
	float: left;
	font-size: 34px;
	margin-left: -45px;
	position: relative;
	top: 10px;
}

#plugin-sidebar .icon-help:before {
	content: "\f223";
}

#plugin-sidebar .icon-document:before {
	content: "\f497";
}

#plugin-sidebar .icon-donate:before {
	content: "\f328";
}

.new-doc {
	background: #FF8900;
	color: #FFF;
	font-size: 0.8em;
	padding: 1px 5px;
	border-radius: 1px;
	margin-left: 8px;
}

/* Pointers
--------------------------------------*/
.wp-pointer-content ul {
	list-style-type: disc;
	padding-left: 2em;
}
