/**
 * Strong Testimonials admin stylesheet
 */

/* Custom fields
---------------------------------------------------------*/

#wpmtst-custom-fields-form {
	width: 500px;
	display: inline-block;
}

#custom-field-list {
	margin-bottom: 0;
}

#custom-field-list li {
	background: #fff;
	border: 1px solid #ddd;
	margin: 0;
}

#custom-field-list .custom-field-header {
	padding: 10px;
	font-size: 1.1em;
}

#custom-field-list .custom-field {
	display: none;
}

#custom-field-list .handle {
	display: inline-block;
	margin-right: 10px;
	color: #999;
}

#custom-field-list .handle:hover {
	color: #111;
	cursor: move;
}

#custom-field-list a.field {
	text-decoration: none;
}

/* open */

#custom-field-list li.open {
	border-color: #2ea2cc;
}

#custom-field-list li.open .custom-field-header {
	background: #2ea2cc;
}

#custom-field-list .open .handle,
#custom-field-list .open .link a {
	color: #fff;
}

#custom-field-list select.field-type {
	min-width: 120px;
}

#custom-field-list option {
	font-family: "Open Sans", sans-serif;
}

#custom-field-list option[disabled] {
	color: #999;
}

#custom-field-list optgroup:before {
	color: #333;
	content: attr(label);
	display: block;
	font-family: "Open Sans", sans-serif;
	font-style: normal;
	padding-left: 4px;
}

#custom-field-list option[disabled]:after {
	content: " (in use)";
	font-style: italic;
}

#wpmtst-custom-fields-form .controls {
	padding: 10px 15px;
	background: #f8f8f8;
	background: #e7f5fa;
	border-top: 1px solid #ddd;
}

#wpmtst-custom-fields-form .controls > span:nth-child(n+2):before {
	content: " | ";
}

#wpmtst-custom-fields-form .controls a.delete-field {
	color: #F00;
}

#custom-field-list .sortable-placeholder {
	border: 1px dashed #ccc !important;
	background: #f1f1f1 !important;
	height: 40px;
}

#custom-field-list .field-table {
	border-collapse: collapse;
	width: 100%;
}

#custom-field-list .field-table th,
#custom-field-list .field-table td {
	border-bottom: 1px solid #ccc;
	padding: 10px;
}

#custom-field-list .field-table th {
	width: 100px;
	vertical-align: top;
	padding-top: 14px;
}

#custom-field-list .field-table td input[type="text"] {
	width: 100%;
}

#custom-field-list .field-table td span.help {
	display: block;
	padding: 3px;
}
#custom-field-list .field-table td span.help:first-of-type {
	margin-top: 5px;
}
#custom-field-list .field-table td span.help.error {
	color: #ee0000;
	/*color: white;*/
	padding-left: 6px;
	border: 1px solid #EE0000;
	background: rgba(242,0,0,0.05);
	font-weight: 700;
}

#custom-field-list .field-table tr:last-child th,
#custom-field-list .field-table tr:last-child td {
	border-bottom: 0;
}

#add-field-bar {
	padding-top: 10px;
	text-align: right;
}

#add-field-bar input {
	margin-right: 0;
	margin-left: 10px;
}

/* field group label */

p.field-group-label-wrap {
}

p.field-group-label-wrap > label,
p.field-group-label-wrap > input {
	display: inline-block;
	font-size: 1.5em;
	vertical-align: middle;
}

p.field-group-label-wrap label {
	width: 6.5em;
}
p.field-group-label-wrap input {
	margin: 0;
	width: calc( 100% - 6.5em );
}

/* intro */

#fields-editor-intro {
	display: inline-block;
}

#fields-editor-wrap {
	display: inline-block;
	float: left;
	width: 540px;
}
