/**
 * Strong Testimonials > Guide pages
 */

/*
 * Guide page
 */

.wpmtst h1 {
	margin-bottom: 1em;
}

section {
}

.guide-content {
	padding: 0 1em;
}

.guide-content p {
	font-size: 1.1em;
}

.guide-content h3 {
	color: #00A4F3;
	font-size: 1.5em;
	margin: 1.5em 0 1em;
}

.guide-content h4 {
	font-size: 16px;
	margin: 2em 0 1em;
}
/*
.guide-content h4.current:after {
	content: "(current)";
	font-style: italic;
	color: #CD0000;
	margin-left: 0.5em;
}
*/
.guide-content code {
	margin: 0;
	font-size: 1.05em;
	line-height: 22px;
	background: none;
	padding: 0;
	font-weight: 400;
}

.guide-content ul {
	font-size: 14px;
}

.guide-content ul:not(.ui-tabs-nav) > li {
	list-style-type: disc;
	margin-left: 1.3em;
	padding-left: .3em;
}

.guide-content ul ul {
	margin-top: 0.3em;
	margin-bottom: 1.2em;
}

.guide-content.translation section > ul > li {
	font-weight: 700;
}

.guide-content.translation ul ul li {
	font-weight: 400;
	list-style-type: none;
	margin-left: 0;
	padding: 0;
}

.guide-content p.first {
	margin-top: 2em;
	margin-bottom: 2em;
}

/* Welcome page
------------------------------------------------*/
.wrap.welcome {
	padding: 10px 0 10px 10px;
}

.wrap.welcome h3.large {
	color: #00A4F3;
	font-size: 36px;
	font-weight: 700;
	margin: 1em 0;
}

.wrap.welcome h3.large {
	margin: 0.7em 0 1.4em;
}

.wrap.welcome h4.large {
	font-size: 1.6em;
}

.wrap.welcome p,
.wrap.welcome ol,
.wrap.welcome ul {
	font-size: 1.2em;
}

.wrap.welcome code {
	font-size: 1.1em;
	background: none;
	padding: 0;
	margin: 0;
}

.sig {
	font-style: italic;
	margin-top: 30px;
}

/*
 * Guide table
 */
table.guide {
	margin: 2em 0 1em;
	border-collapse: collapse;
	width: 100%;
}
table.guide td {
	padding: 10px;
	font-size: 1.1em;
	vertical-align: top;
}
table.guide th {
	text-shadow: rgb(255, 255, 255) 0px 1px 0px;
	padding: 20px 0 0;
	font-size: 1.2em;
}
table.guide.compat th:nth-child(2),
table.guide.compat td:nth-child(2) {
	border-right: 2px solid #F1F1F1;
	border-left: 2px solid #F1F1F1;
}
table.guide .works {
	background: rgb(223, 240, 216);
}
table.guide .conflict {
	background: rgb(242, 222, 222);
}
table.guide .request {
	background: rgb(217, 237, 247);
}
