/**
 * Strong Testimonials admin stylesheet
 */

/* reordering */
th.manage-column.column-order {
	width: 4em;
	text-align: center;
}
td.column-order {
	text-align: center;
	cursor: move;
}
td.column-order .help {
	display: none;
	font-style: italic;
}
td.column-order .help-in-motion {
	color: #ff0000;
	display: none;
	font-style: italic;
}
td.column-order:hover {
	background: #BBEBFA;
}
td.column-order:hover .help {
	display: block;
}

/* to add border to "handle" cell */
/*
td.column-order:hover {
	padding: 0;
	position: relative;
}

td.column-order:hover div.handle {
	border: 1px dotted #999;
	border-radius: 2px;
	padding: 7px 9px;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}
*/

#the-list tr.reorder-hover {
	background: #E7F8FD;
}
/* to add dashed border to row */
/*
tr.reorder-hover th,
tr.reorder-hover td {
	border-top: 1px dashed #999;
	border-bottom: 1px dashed #999;
}
tr.reorder-hover th:first-child {
	border-left: 1px dashed #999;
}
tr.reorder-hover td:last-child {
	border-right: 1px dashed #999;
}
*/

.ui-sortable tr.ui-sortable-helper {
	/* background: #BBEBFA; */
	background: rgba(187,235,250,0.6) !important;
	border: 1px solid #DFDFDF;
}

.ui-sortable tr.ui-sortable-helper .help {
	display: none;
}

.ui-sortable tr.ui-sortable-helper .help-in-motion {
	display: block;
}

.sortable-placeholder {
	background: #E7F8FD;
}
