/**
 * Strong Testimonials View editor
 */

/* TODO Consolidate with admin.css */

.clear {
	clear: both;
}

.table {
	display: table;
}

.table-row {
	display: table-row;
}

.table-cell {
	display: table-cell;
	vertical-align: top;
}

.option-wrap {
	margin-right: 2em;
}

.half-width {
	display: inline-block;
	box-sizing: border-box;
	width: 50%;
	float: left;
}

.is-below {
	padding-top: 10px;
}

/*-----------------------------------------------*
 * category checklist
 *-----------------------------------------------*/

/* search filter */
.fc-search-wrap {
	display: none;
	position: relative;
}

.fc-search-field {
	margin: 10px 0 0 0;
	width: 100%;
}

.cat-count {
	color: #888;
}

/* copying style from native post category list */
.view-category-list-panel {
	box-sizing: border-box;
	min-height: 42px;
	max-height: 220px;
	min-width: 220px;
	overflow: auto;
	padding: 0 11px;
	border: 1px solid #DFDFDF;
	background-color: #FDFDFD;
}

.view-category-list {
	margin: 7px 0;
}

.view-category-list li {
	margin-bottom: 0;
}

.view-category-list li label {
	margin-bottom: 6px;
	word-wrap: break-word;
	white-space: nowrap;
}

.view-category-list li:last-of-type label {
	margin-bottom: 0;
}

ul.children {
	margin-left: 18px;
}

/*-----------------------------------------------*
 * replace checkboxes with icons
 *-----------------------------------------------*/

input[type=checkbox] {
	display: none;
}

/* keep the inherited margins, adjust width if more space is necessary */
input[type=checkbox] + label:before {
	font-family: FontAwesome;
	display: inline-block;
	color: #00A4F3;
	width: 1em;
}

input[type=checkbox] + label:before {
	content: "\f096"; /* unchecked icon */
}

input[type=checkbox]:checked + label:before {
	content: "\f14a"; /* checked icon */
}

input[type=checkbox]:disabled + label:before {
	content: "\f146"; /* disabled icon */
}

input[type=checkbox] + label:hover:before,
input[type=checkbox]:checked + label:hover:before {
	color: #FF8900;
}

input[type=checkbox]:disabled + label:before,
input[type=checkbox]:disabled + label:hover:before {
	color: #888;
}


.screenshot {
	margin: 10px;
}

.screenshot > div {
	display: inline-block;
    -webkit-box-shadow: inset 0 0 40px rgba(0,0,0,0.8);
       -moz-box-shadow: inset 0 0 40px rgba(0,0,0,0.8);
            box-shadow: inset 0 0 40px rgba(0,0,0,0.8);
}

#wpmtst-views-form input[type="submit"] {
	margin-right: 10px;
}

.view-info {
	font-size: 1.5em;
	margin-top: 1em;
}

.view-info input {
	font-size: 1em;
}

.view-info .title {
	width: 120px;
	display: inline-block;
	margin: 0;
}

input.view-name {
	width: calc( 100% - 120px );
	display: inline-block;
	margin: 0;
}

td.column-name strong {
	display: block;
	margin-bottom: .2em;
	font-size: 14px;
}

/*-----------------------------------------------
 * Elements
 *-----------------------------------------------*/
/*
 The generic classname `submit` conflicts with an unknown plugin or theme overzealous style.
*/
.wpmtst2 p.wpmtst-submit {
	margin-top: 2em;
}

/* views section heading */
.wpmtst2 h3 {
	background: #FFF;
	color: #00A4F3;
	font-weight: 400;
	border: 1px solid #DDD;
	border-bottom: 0;
	padding: 10px 15px;
	margin-bottom: 0;
	margin-top: 1.5em;
}

.form-table td p.description {
	margin-top: 0;
}

p.description.tall {
	line-height: 30px;
	margin-top: 0;
}

p.description.under-checkbox {
	margin-left: 22px;
}

input[type="text"].long {
	width: 25em;
}

/* Misc positioning */

.inline {
	display: inline-block;
	/*white-space: nowrap;*/
	margin-right: 2em;
	vertical-align: top;
}

.inline-middle {
	vertical-align: middle;
}

.tight {
	margin-right: 1.5em;
}

.tight:last-child {
	margin-right: 0;
}

.checkbox,
.form-table th.checkbox {
	line-height: 30px;
}

.field {
	position: relative;
}

.field div {
	display: inline-block;
	padding: 0.2em 0.3em;
}

/*-----------------------------------------------
 * Inputs
 *-----------------------------------------------*/
.input-number {
	width: 5em;
	text-align: right;
}

.input-incremental {
	width: 5em;
}

.input-number-px {
	width: 4em;
	text-align: right;
}

.form-table select {
	vertical-align: baseline;
}

div.radio {
	line-height: 1.5em;
	padding: 0 5px;
}

div.radio.selected {
	background: #ddd;
}

td.selected {
	background: #FFFFE0;
}

label {
	vertical-align: baseline;
	margin-right: 0.3em;
	display: inline-block;
}

label:hover {
	color: #000;
}

option:disabled {
	font-style: italic !important;
}

/*-----------------------------------------------
 * Form table
 *-----------------------------------------------*/
.form-table {
	margin-top: 0;
	background: #FEFEFE;
	width: 100% !important;
	border: 1px solid #DDD;
}

.form-table tr {
	border: 1px solid #DDD;
}

.form-table.multiple {
	width: auto;
}

.form-table th,
.form-table td {
	vertical-align: top;
}

.form-table th {
	font-weight: 400;
	white-space: nowrap;
	vertical-align: top;
	width: 150px;
	padding: 10px 15px;
}

.form-table td.valign-middle {
	vertical-align: middle;
}

.form-table td {
	padding: 10px;
}

td.w1 {
	width: 185px;
}

td.w2 {
	width: 300px;
}

.row {
	vertical-align: middle;
}

.row:not(:first-child) .row-inner {
	margin-top: 10px;
}

.wpmtst2 .form-table th,
.wpmtst2 .form-table th label {
	line-height: 30px;
	margin-top: 0;
	margin-bottom: 0;
}

span.title {
	display: inline-block;
	margin-right: 1em;
}

/*-----------------------------------------------
 * Mode selector
 *-----------------------------------------------*/
#view-mode {
	margin-top: 1em;
}

#view-mode label {
	display: inline-block;
	margin: 0 5px 0 0;
	padding: 0.5em 18px 0.5em 12px;
	border: 1px solid #ccc;
	border-radius: 20px;
}

#view-mode label:hover {
	background: #FFF;
	color: #444;
	border-color: #AAA;
}

#view-mode input[type="radio"] {
	margin-right: 7px;
}

#view-mode label {
	color: #888;
}

#view-mode label.checked {
	background: #00A4F3;
	color: #FFF;
	border: 1px solid transparent;
}

.wpmtst2 h3.large,
.wpmtst2 select.large {
	font-size: 2em;
}

.wpmtst2 select.large {
	font-size: 2em;
	height: auto;
	vertical-align: baseline;
	border: 0;
}

.wpmtst2 h3.large {
	color: #444;
	background: transparent;
	display: inline-block;
	font-size: 2em;
	margin-top: 0;
	margin-bottom: 0;
	margin-right: 10px;
}

/*-----------------------------------------------
 * Category checkboxes
 *-----------------------------------------------*/
ul.checkbox-horizontal {
	display: inline-block;
	list-style: none;
	margin: 0;
}

ul.checkbox-horizontal li {
	display: inline-block;
	float: left;
	margin: 6px 2em 0 0;
}

.select-cell {
	padding-right: 2em;
}

/*-----------------------------------------------
 * Client fields table
 *-----------------------------------------------*/
/* Need to back out some rules since this is a table in a table. */

table.fields {
	background: white;
	border-collapse: collapse;
	width: 100%;
}

.form-table table.fields tr th,
.form-table table.fields tr td {
	border: 0 !important;
	padding: 5px;
	white-space: nowrap;
	width: auto;
}

.form-table table.fields tr th {
	/*text-align: center;*/
	padding: 5px 8px;
}

.form-table table.fields tr th:not(:last-child) {
	border-right: 1px solid #ddd;
}

/* Make it stand out. */
table.fields thead tr {
	background: #f4f4f4;
}

table.fields tr {
	background: #fff; /* for better dragging */
}

.form-table table.fields th {
	font-weight: 400;
	padding: 15px 10px; /* WP */
}

table.fields select {
	min-width: 0;
}

table.fields .controls {
	max-width: 110px;
	text-align: right;
	white-space: nowrap;
	vertical-align: top;
}

table.fields .controls > span {
	position: relative;
	top: 5px;
}

.field-link {
	white-space: nowrap;
}

table.fields .sortable-placeholder {
	background: lightyellow !important;
}

table.fields.full-width {
	width: 100%;
}

#add-field-bar {
	margin-top: 10px;
}

/* Fields table > field controls */

.field .controls {
	position: absolute;
	right: 0;
	top: 4px;
}

.field .controls > span {
	padding: 2px;
}

.handle:hover {
	color: #2ea2cc;
	cursor: pointer;
}

.delete-field:hover {
	color: red;
	cursor: pointer;
}

/* Firefox loses font with first optgroup */
select optgroup,
select option {
	font-family: "Open Sans", sans-serif;
}

@-moz-document url-prefix() {
	select optgroup {
		font-style: normal;
		margin-left: 3px;
	}
}

.form-view-shortcode .title {
    /*font-family: "Open Sans",sans-serif;*/
}

.form-view-shortcode .saved {
    direction: ltr;
    font-family: Consolas,Monaco,monospace;
    unicode-bidi: embed;
}

.form-view-shortcode .unsaved {
	color: #888;
	font-style: italic;
}

.indented {
	margin-left: 24px;
}

/* DEBUG */
/*
.form-table th,
.form-table td {
	border: 2px solid orange;
}
*/


.field-meta-row {
	margin: 5px;
}

.field-meta-row:first-child {
	margin-top: 0;
}

.field-meta-row:last-child {
	margin-bottom: 0;
}

.field-meta-row label[for^="view-field"] {
	width: 34px;
	margin-right: 0;
	box-sizing: border-box;
}

.field-meta-row div[class^="then"] {
	margin-left: 38px;
	width: 180px;
}
.field-meta-row.checkbox label {
	/*margin-left: 38px;*/
}

.field-meta-row input[type="text"],
.field-meta-row input[type="url"],
.field-meta-row select {
	width: 180px;
}


input.field-type-date {
	max-width: 150px;
}


/*-----------------------------------------------
 * List radio buttons
 *-----------------------------------------------*/
/*
┼
 ┌──[radio-wrap]─────────────┬────────────────────────┐
 │                           │                        │
 │   ┌──[radio-buttons]──┐   │  [radio-description]   │
 │   │                   │   │                        │
 │   │   [radio-list]    │   │                        │
 │   │                   │   │                        │
 │   └───────────────────┘   │                        │
 └───────────────────────────┴────────────────────────┘
*/

.radio-wrap {
	display: table;
}

/* the left side */
.radio-buttons {
	box-sizing: border-box;
	vertical-align: top;
}

/* custom buttons */
.radio-buttons input[type=radio] {
	display: none; /* to hide the radio itself */
}

.radio-buttons input[type=radio] + label:before {
	font-family: FontAwesome;
	display: inline-block;
	color: #999;
	letter-spacing: 0.7em; /* space between radio and label */
}

.radio-buttons input[type=radio] + label:before {
	content: "\f10c"; /* unchecked icon */
}

.radio-buttons input[type=radio] + label:hover {
	background: rgba(0,160,210,0.16);
}

.radio-buttons input[type=radio]:checked + label:before {
	content: "\f192"; /* checked icon */
	color: #333;
}

.radio-buttons input[type=radio].error + label,
.radio-buttons input[type=radio].error + label:before {
	color: red;
}

.radio-buttons input[type=radio]:disabled + label {
	color: #AAA;
}
.radio-buttons input[type=radio]:disabled + label:before {
	color: #CCC;
}
.radio-buttons input[type=radio]:disabled + label:hover {
	background: transparent;
}
.radio-buttons input[type=radio]:checked:disabled + label:hover {
	background: #EAF7FB;
}

/* the list items */
ul.radio-list {
	display: inline-block;
	margin: 10px 0;
	width: 100%;
	box-sizing: border-box;
}
.radio-list li {
	margin: 0;
	white-space: nowrap;
	/* to appear seamless with adjacent box: */
	position: relative;
	right: -1px;
}
.radio-list li label {
	padding: 4px 20px 3px 8px;
	box-sizing: border-box;
	border-radius: 12px 0 0 12px;
	border: 1px solid transparent;
	border-right-width: 0;
	width: 100%;
}
.radio-list input[type="radio"]:checked + label {
	/*background: rgba(0,160,210,0.08); */
	background: #EAF7FB;
	/*border-color: rgba(0,160,210,0.16);*/
	border-color: #D5EFF7;
}

/* the right side */
.radio-description {
	background: #EAF7FB;
	padding: 20px;
	border: 1px solid #D5EFF7;
}

.form-table .radio-description p {
	margin-bottom: 1em;
}

.radio-wrap.full-width {
	width: 100%;
}

.radio-buttons.full-width {
	width: 35%;
}

.radio-description.full-width {
	width: 65%;
}

.radio-wrap.full-width.narrow-first .radio-buttons {
	width: 20%;
}

.radio-wrap.full-width.narrow-first .radio-description {
	width: 80%;
}

#font-color-switcher {
	text-align: right;
	margin-bottom: 10px;
}
	#font-color-switcher .inner {
		display: inline-block;
		background: #222;
		padding: 1px;
		overflow: hidden;
	}

	#font-color-switcher .inner-help {
		display: inline-block;
		height: 30px;
		vertical-align: middle;
		float: right;
		line-height: 30px;
		padding: 0 10px;
		font-style: italic;
	}

	#font-color-switcher input[type="radio"] {
		display: none;
		margin: 0;
	}

	#font-color-switcher input[type="radio"] + label {
		color: #333;
		background: #e0e0e0;
		margin: 0;
		padding: 6px 12px;
		text-transform: uppercase;
		font-size: 0.9em;
	}
	#font-color-switcher input[type="radio"]:not(:first-of-type) + label {
		margin-left: -5px;
	}
	#font-color-switcher input[type="radio"]:checked + label {
		background: #00A4F3;
		color: #FFF;
	}
	#font-color-switcher input[type="radio"]:checked + label:hover {
		cursor: auto;
	}
	#font-color-switcher input[type="radio"]:not(:checked) + label:hover {
		background: #444;
		color: #FFF;
	}


.background-description.bg-gradient label {
	padding-right: 1em;
	padding-bottom: 2em;
}

.background-description.bg-gradient .table-row:first-child .table-cell {
	padding-bottom: 20px;
}

.background-description-inner {
	margin-bottom: 20px;
}

/* gradient preview */

.background-preview-wrap {
	background: white;
	padding: 2em;
	max-width: 500px;
}

#background-preview {
	padding: 1em;
	text-align: center;
}

#background-preview.dark {
	color: #333;
}

#background-preview.light {
	color: #EEE;
}

/*-----------------------------------------------
 * Examples
 *-----------------------------------------------*/
.example-container {
	background: white;
	border: 1px solid #ccc;
	box-sizing: border-box;
	margin-top: 0.5em;
	padding: 15px 10px 5px;
	width: 170px;
}

.example-container .box {
	background: #DDD;
	/*box-sizing: border-box;*/
	width: 100%;
	line-height: 30px;
	height: 30px;
	margin-bottom: 10px;
	text-align: center;
	/* to prevent overflowing margins */
	display: inline-block;
	position: relative;
	/* multi-column properties */
	-webkit-column-break-inside: avoid;
	page-break-inside: avoid;
	break-inside: avoid;
}

.example-container .box span {
	/*box-sizing: border-box;*/
	display: block;
	margin: 0 auto;
}

.box.size2 {
	height: 45px;
}

.box.size3 {
	height: 60px;
}

/*--------------------------------------------------
 * normal
 *--------------------------------------------------*/
.view-layout-normal .example-container {}

.view-layout-normal .box {}

/*--------------------------------------------------
 * Masonry
 *--------------------------------------------------*/
.view-layout-masonry .example-container .box {
	width: 46%;
}

.view-layout-masonry .example-container .grid-sizer,
.view-layout-masonry .example-container.col-2 .grid-sizer {
	width: 46%;
}

.view-layout-masonry .example-container.col-3 .grid-sizer {
	width: 27.5%;
}

.view-layout-masonry .example-container.col-4 .grid-sizer {
	width: 19.5%;
}

/*--------------------------------------------------
 * columns
 *--------------------------------------------------*/
.view-layout-columns .example-container {
	padding-bottom: 15px;
}

.view-layout-columns .example-container {
	text-align: center;

	/* a minimum width fallback */
	-webkit-column-width: 25px;
	   -moz-column-width: 25px;
	        column-width: 25px;

	-webkit-column-gap: 10px;
	   -moz-column-gap: 10px;
	        column-gap: 10px;

	/* chrome does not repaint column-rule when switching classes in js :( */
	/*-webkit-column-rule: 1px dashed #999;*/
	   /*-moz-column-rule: 1px dashed #999;*/
	        /*column-rule: 1px dashed #999;*/

	-webkit-margin-bottom-collapse: separate;
}

.view-layout-columns .example-container.col-2 {
	-webkit-column-count: 2;
	   -moz-column-count: 2;
	        column-count: 2;
}

.view-layout-columns .example-container.col-3 {
	-webkit-column-count: 3;
	   -moz-column-count: 3;
	        column-count: 3;
}

.view-layout-columns .example-container.col-4 {
	-webkit-column-count: 4;
	   -moz-column-count: 4;
	        column-count: 4;
}

/*--------------------------------------------------
 * grid
 *--------------------------------------------------*/
.view-layout-grid .example-container {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;

	-webkit-flex-wrap: wrap;
	    -ms-flex-wrap: wrap;
	        flex-wrap: wrap;

	/*justify-content: flex-start | flex-end | center | space-between | space-around;*/
	justify-content: space-between;
}

.view-layout-grid .example-container .box {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
}

.view-layout-grid .example-container.col-2 .box {
	width: 47%;
}

.view-layout-grid .example-container.col-3 .box {
	width: 29%;
}

.view-layout-grid .example-container.col-4 .box {
	width: 21%;
}

