/**
 * Strong Testimonials Default Dark Form template
 */
@import "../_partials/structure-form";

.strong-form {
  label {
    font-weight: 700;
  }

  .form-field .after {
    font-size: .9em;
    font-style: italic;
  }

  /* Error indicators */

  input.error,
  textarea.error,
  select.error {
    background: #F9E5E6;
    border: 1px solid #FF6666;
    color: #B50007;
  }

  span.error,
  label.error {
    color: #B50007;
  }

  /* field-wrap is used for checkboxes, radios, star ratings */
  .field-wrap {
    display: block;
    font-weight: 400;
    border: 1px solid transparent;

    &.error {
      border-radius: 3px;
      background: #F9E5E6;
      border: 1px solid #FF6666;
      color: #B50007;

      .checkbox-label {
        color: #111;
        outline: none;
      }

      .strong-rating {
        outline-color: #FF6666;
      }
    }

    input + label + .required.symbol:after {
      margin-left: 0;
    }
  }
}
