/**
 * Strong Testimonials Default Dark Form template
 */
.strong-form {
  margin: 0 auto;
}
.strong-form .form-field {
  margin-bottom: 1.5em;
}
.strong-form .form-field.submit {
  margin-bottom: 0;
}
.strong-form .required.symbol:after {
  content: '*';
  color: #FF0000;
  margin: 0 4px;
}
.strong-form label {
  display: inline-block;
  float: none;
}
.strong-form input[type="text"],
.strong-form input[type="email"],
.strong-form input[type="url"],
.strong-form input[type="file"],
.strong-form select,
.strong-form textarea {
  box-sizing: border-box;
  display: block;
  float: none;
  width: 100%;
}
.strong-form textarea {
  height: 16em;
}
.strong-form span.error,
.strong-form label.error {
  display: block;
}
.strong-form .before {
  display: block;
}
.strong-form .after {
  display: block;
}

.strong-form-inner {
  padding: 20px;
}

input.captcha {
  display: block;
  width: auto;
}

img.captcha {
  border: 0;
}

.wpmtst-captcha {
  margin-bottom: 1em;
}

.strong-form label {
  font-weight: 700;
}
.strong-form .form-field .after {
  font-size: .9em;
  font-style: italic;
}
.strong-form input.error,
.strong-form textarea.error,
.strong-form select.error {
  background: #F9E5E6;
  border: 1px solid #FF6666;
  color: #B50007;
}
.strong-form span.error,
.strong-form label.error {
  color: #B50007;
}
