/**
 * Strong Testimonials admin stylesheet
 */
@font-face {
  font-family: 'DM Sans';
  src: url('../font/dm/DMSans-Regular.ttf');
}

.icon-blue {
  color: #0073aa; }

.error {
  color: red !important; }

.required-phrase {
  color: red;
  font-style: normal;
  font-weight: 400;
  font-size: 0.9em; }

.required-phrase:before,
label.required:after {
  content: '*';
  display: inline-block;
  color: red;
  font-size: 27px;
  line-height: 19px;
  height: 19px;
  font-weight: 600;
  vertical-align: middle;
  position: relative;
  top: 1px; }

.has-input {
  display: inline-block; }

.error-message {
  display: inline-block;
  margin-left: 0.5em; }

button.nogo {
  margin: 0 3px; }

li.warning {
  background: lightyellow; }

.between-inputs {
  margin-left: 0.3em;
  margin-right: 0.3em; }

.intro p {
  font-size: 14px; }

.wrap.wpmtst h2 {
  margin: 2em 0 1em; }

.wrap.wpmtst p {
  font-size: 14px; }

.wrap.wpmtst .notice p {
  font-size: 13px; }

.wpmtst .list-wrap {
  padding: .5em; }

.wp-core-ui .button-primary.active,
.wp-core-ui .button-primary.active:hover,
.wp-core-ui .button-primary.active:focus,
.wp-core-ui .button-primary:active {
  vertical-align: baseline; }

/* Firefox fix */
a.widget-action:focus {
  outline: none; }

/* Slug field */
input#post_name {
  width: 98%; }

fieldset > div {
  min-height: 30px; }

/* Help sections
  ---------------------------------------------------------*/
div.help {
  margin-left: 0; }

div.help.minor {
  font-size: 0.9em;
  text-align: left; }

/* Settings table
  ---------------------------------------------------------*/
.wpmtst i.fa.example {
  color: #0073aa; }

.stackem ul {
  margin: 14px 0 0 0; }

.stackem li {
  margin-top: 16px;
  margin-bottom: 16px; }

.stackem label {
  display: inline-block;
  line-height: 28px;
  margin-right: 0.5em;
  vertical-align: baseline; }

.stackem label.inline {
  display: inline-block; }

.stackem p.description {
  margin-top: 0;
  margin-left: 22px; }

.stackem p.description.warning {
  color: #CD0000; }

.stackem .notice {
  background: none;
  border: none;
  box-shadow: none;
  display: inline-block;
  font-size: .9em;
  font-style: italic;
  margin: 0 .2em;
  padding: 0;
  color: #868686; }

.stackem span.link {
  display: inline-block;
  margin: 0 .3em;
  font-size: .9em;
  line-height: 28px; }

.stackem label.disabled {
  color: #888; }

div.radio {
  line-height: 1.5em; }

div.radio:hover {
  color: #000; }

#screenshot-screen-options,
#help-section {
  display: none; }

.screenshot > div {
  display: inline-block;
  box-shadow: inset 0px 0px 40px rgba(0, 0, 0, 0.8); }

.help-text {
  padding: 0.5em 0; }

/* form table */
.wpmtst .form-table {
  vertical-align: middle; }

.wpmtst .form-table .actions {
  /*vertical-align: top;*/ }

.wpmtst .form-table td {
  padding-top: 15px;
  /* override PopupMaker's override */ }

.wpmtst .form-table td:nth-child(1) {
  width: 200px; }

.wpmtst .form-table .parent {
  border-bottom: 0;
  vertical-align: top; }

.wpmtst .form-table .child {
  border-top: 0; }

.wpmtst .form-table p {
  /*margin-bottom: 1em;*/ }

.wpmtst .form-table td p:last-child {
  margin-bottom: 0; }

.wpmtst .form-table input,
.wpmtst .form-table select,
.wpmtst .form-table textarea {
  /*line-height: 1.5em;*/ }

.wpmtst .form-table input[type="button"] {
  line-height: 26px;
  height: 28px; }

.wpmtst select {
  min-width: 120px; }

.wpmtst option {
  padding-left: 5px; }

.wpmtst .form-table div.box {
  border: 1px solid #DDD;
  display: inline-block;
  padding: 10px; }

.wpmtst .form-table .row {
  line-height: 2.5em; }

.wpmtst .form-table .alpha {
  width: 120px; }

.wpmtst .form-table .alpha.alpha-110 {
  width: 110px; }

.wpmtst .form-table .alpha + div {
  display: inline-block; }

.wpmtst label.success-action {
  display: inline-block;
  width: 11em;
  padding: 10px 0; }

/* compact */
.wpmtst .form-table.compact th {
  vertical-align: top; }

.wpmtst .form-table.compact td {
  vertical-align: middle; }

/*.wpmtst .form-table.compact td:nth-child(3) {*/
.wpmtst .form-table.compact td.actions {
  width: 100px;
  vertical-align: bottom; }

/*.wpmtst .form-table.compact td:nth-child(3) input.button {*/
.wpmtst .form-table.compact td.actions input.button {
  margin-right: 0;
  margin-bottom: 3px; }

.wpmtst .form-table.compact input[type="text"] {
  width: 100%; }

.wpmtst .form-table.compact input.error {
  border-color: red;
  border-radius: 2px;
  box-shadow: none; }

.wpmtst .form-table.compact label.error {
  color: red;
  display: block; }

/* end: form-table */
.code {
  background: #FFF; }

.code.wide {
  padding: 2px 5px;
  margin: 3px;
  border-radius: 2px; }

.submit-buttons input.button {
  margin-right: 10px; }

.custom-input {
  line-height: 1.3em; }

.indent {
  margin-left: 2em; }

.outdent {
  margin-left: -2em; }

.hilite {
  background: lightyellow;
  border-radius: 4px;
  display: inline-block;
  padding: .25em .75em;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); }

p.description.hilite {
  margin-bottom: 2em; }

ul.compact {
  margin: 0; }

ul.compact li {
  display: inline-block;
  margin: 6px 30px 6px 0; }

/* Add-on license table
  ------------------------------------------------*/
#licenses-form .form-table {
  width: auto;
  max-width: 1024px; }

#licenses-form .form-table label {
  /* to match text inputs */
  line-height: 27px; }

#licenses-form .form-table th,
#licenses-form .form-table td {
  vertical-align: top; }

#licenses-form th.for-license-key,
#licenses-form th.for-license-status {
  width: 350px; }

#licenses-form .form-table th {
  padding: 15px; }

#licenses-form .form-table td {
  white-space: nowrap;
  padding: 15px; }

#licenses-form .form-table th:first-child,
#licenses-form .form-table td:first-child {
  padding-left: 0; }

#licenses-form .form-table input[type="text"] {
  font-family: Consolas, Monaco, monospace;
  width: 100%; }

#licenses-form .form-table label {
  padding-left: 0;
  text-indent: 0; }

#licenses-form .doing-ajax:before {
  display: inline-block;
  font: normal 22px/29px dashicons;
  content: "\F463";
  text-align: center;
  vertical-align: middle;
  -webkit-animation-name: rotate;
  -webkit-animation-duration: 1.5s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-name: rotate;
  -moz-animation-duration: 1.5s;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
  animation-name: rotate;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear; }

#licenses-form span.license-status {
  display: inline-block;
  font-size: 0.9em;
  line-height: 28px;
  height: 27px;
  margin: 1px 10px 1px 0;
  padding: 0 8px;
  text-transform: uppercase;
  border-radius: 3px;
  vertical-align: middle; }

#licenses-form span.active {
  background: green;
  color: #FFF; }

#licenses-form span.inactive {
  background: #999;
  color: #FFF; }

#licenses-form span.ib {
  display: inline-block;
  vertical-align: middle; }

.activation-error {
  color: red; }

/* Descriptions
  ------------------------------------------------*/
.form-table th .description,
.form-table td .description {
  font-size: 14px;
  font-style: italic;
  /*text-indent: 24px;*/ }

.description.inline {
  display: inline-block;
  margin-left: 1em; }

.description a {
  text-decoration: underline; }

.description a:hover {
  text-decoration: none; }

.radio .description {
  padding-left: 20px; }

li.checkbox {
  margin-bottom: 10px; }

.checkbox .description {
  padding-left: 24px; }

ul.description {
  font-style: italic;
  color: #666;
  margin-top: 4px;
  list-style-type: disc;
  margin-left: 21px;
  margin-bottom: 0; }

/* Widget
  ------------------------------------------------*/
.wpmtst-widget-form {
  margin-bottom: 1em; }

.widget-inside p {
  margin: .5em 0; }

input[disabled],
input[readonly] {
  color: #999;
  background: rgba(0, 0, 0, 0.04); }

/* Categories admin list
  ------------------------------------------------*/
.widefat th.column-ID {
  width: 2.2em; }

/* Post list table
  ------------------------------------------------*/
td.column-shortcode,
td.column-id {
  white-space: nowrap;
  font-family: Consolas, Monaco, monospace; }

th.sortable.column-id a span {
  float: right; }

td.column-id {
  text-align: right; }

/* Star rating in list table
  --------------------------------------------------*/
.column-rating {
  width: auto !important; }

/* Views list table
  --------------------------------------------------*/
.wp-list-table.fixed.wpm-testimonial_page_testimonial-views {
  table-layout: auto; }

.wpmtst2 > h1 {
  margin-bottom: 15px; }

/* WordPress fixes
  --------------------------------------------------*/
/* settings page */
@media screen and (max-width: 782px) {
  .wpm-testimonial_page_testimonial-settings .form-table td input[type="text"] {
    display: inline-block;
    width: auto; } }

/* Animation
  --------------------------------------------------*/

@keyframes rotate {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

/* Admin > Shortcode example table
  --------------------------------------------------*/
.form-table.shortcodes tbody tr:hover {
  background: #FFF; }

.form-table.shortcodes th {
  padding-left: 10px;
  width: auto; }

.form-table.shortcodes td {
  border: 1px solid #DDD; }

.form-table.shortcodes td.shortcode {
  font-family: Consolas, Monaco, monospace; }

.form-table.shortcodes td p {
  margin: 1em 0; }

.form-table.shortcodes td p:first-child {
  margin-top: 0; }

.form-table.shortcodes td p:last-child {
  margin-bottom: 0; }

/* special */
.form-table.shortcodes tr.important {
  background: #FFF; }

.form-table.shortcodes tr.important td {
  border: 1px solid #CCC; }

/* Misc
  --------------------------------------------------*/
.slug-example {
  font-weight: bold;
  color: #0073aa; }

.form-table.width-auto {
  width: auto; }

.form-table td p:first-child {
  margin-top: 6px; }

.current-dashicon {
  display: inline-block;
  background: #0073aa;
  color: #FFF;
  border-radius: 2px;
  text-align: center;
  vertical-align: middle;
  width: 28px;
  height: 28px;
  position: relative;
  top: -3px; }

.current-dashicon .dashicons {
  vertical-align: middle;
  line-height: 1.3; }

/*
  Back these out to have normal "reset" buttons
  */
/* wp-includes/css/buttons.css:109 */
/*
  .wp-core-ui input[type="reset"],
  .wp-core-ui input[type="reset"]:hover,
  .wp-core-ui input[type="reset"]:active,
  .wp-core-ui input[type="reset"]:focus {
	  background: none;
	  border: none;
	  -webkit-box-shadow: none;
	  box-shadow: none;
	  padding: 0 2px 1px;
	  width: auto;
  }
  */
.wp-core-ui input[type="reset"],
.wp-core-ui input[type="reset"]:hover,
.wp-core-ui input[type="reset"]:active,
.wp-core-ui input[type="reset"]:focus {
  background: #F7F7F7;
  border: 1px solid #CCC;
  box-shadow: 0 1px 0 #CCC;
  padding: 0 10px 1px;
  width: auto; }

/* wp-admin/css/forms.css:102 */
/*
  .wp-core-ui input[type="reset"]:hover,
  .wp-core-ui input[type="reset"]:active {
	  color: #00a0d2;
  }
  */
/* Based on section 2.0 in wp-includes/css/buttons.css:125 */
.wp-core-ui input[type="reset"]:hover,
.wp-core-ui input[type="reset"]:focus {
  background: #fafafa;
  border-color: #999;
  color: #23282d; }

.wp-core-ui input[type="reset"]:focus {
  border-color: #5b9dd9;
  box-shadow: 0 0 3px rgba(0, 115, 170, 0.8); }

.wp-core-ui input[type="reset"]:active {
  background: #eee;
  border-color: #999;
  box-shadow: inset 0 2px 5px -3px rgba(0, 0, 0, 0.5);
  transform: translateY(1px); }

input.button.restore-default {
  font: normal 20px/1 dashicons;
  padding: 1px 3px; }

.wpmtst .subsubsub {
  float: none;
  margin-left: 16px; }

.regular-text.half {
  width: 12.5em; }

.regular-text.third {
  width: 20em; }

input.code {
  font-size: 13px;
  font-family: Consolas, Monaco, monospace; }

.wrap h2.nav-tab-wrapper {
  margin-top: 6px; }

.tab-header {
  padding: 1em 0; }

.striped > tbody > tr.readonly {
  background: lightyellow; }

ul.standard {
  list-style: disc;
  padding-left: 1.5em; }

.form-table p.error {
  margin: 0.5em 0; }

/* shortcodes page */
.wpmtst.shortcode {
  vertical-align: middle; }

.wpmtst.shortcodes.has-stars table {
  margin-bottom: 1em; }

.wpmtst.shortcodes.has-stars td:nth-child(2) {
  width: 70%;
  /*white-space: nowrap;*/ }

.wpmtst.shortcodes td {
  padding: 10px; }

.wpmtst.shortcodes tr.important td {
  border: 1px solid #DDD; }

.wpmtst.shortcodes tr:hover {
  background: #FFF; }

/* inner table */
.wpmtst.shortcodes td.has-inner {
  padding: 0; }

.wpmtst.shortcodes table.inner {
  margin: 0;
  vertical-align: middle;
  width: 100%; }

.wpmtst.shortcodes table.inner,
.wpmtst.shortcodes table.inner tr,
.wpmtst.shortcodes table.inner td {
  border: 0; }

.wpmtst.shortcodes table.inner tr:first-child td {
  border-bottom: 1px solid #DDD; }

.wp-list-table .type-wpm-testimonial .row-actions span.id span {
  color: #777; }

.wpm-testimonial_page_about-strong-testimonials .wpmst-mascot {
  width: 160px;
  margin-left: 1rem;
  float: right; }

.edit-php.post-type-wpm-testimonial .wpmtst-notice {
  padding: 2.5rem 2rem;
  border: 2px solid #7F22DE; }

.edit-php.post-type-wpm-testimonial .wpmtst-notice img {
  max-width: 100%; }

.edit-php.post-type-wpm-testimonial .wpmst-mascot {
  width: 120px;
  margin-right: 2rem;
  float: left; }

/* notices */
.wpmtst-notice-wrap {
	border: none;
	padding: 0;
	box-shadow: none;
	background: transparent;
}

.wpmtst-notice {
  padding: 2rem;
}

.wpmtst-notice--feedback {
	background: #fff;
	border-radius: 10px;
	border: 3px solid transparent;
	box-shadow: -3px 2px 70px 0px rgba(128, 144, 174, 0.16);
	padding-right: 140px !important;
	box-sizing: border-box;
	position: relative;
	overflow: hidden;
	margin-bottom: 20px;
}

.wpmtst-notice--feedback p {
	color: #888;
}

.wpmtst-notice--feedback__bg {
	background: url(../img/notice-bg-1.png) no-repeat 50% 50%;
	width: 400px;
	height: 400px;
	position: absolute;
	right: -225px;
	top: -100px;
	background-size: 100%;
}

.wpmtst-notice--upsell {
	background: #fbc556;
	border-radius: 10px;
	border: 3px solid transparent;
	box-shadow: none;
	padding-right: 140px !important;
	box-sizing: border-box;
	position: relative;
	overflow: hidden;
	margin-bottom: 20px;
}

.wpm-testimonial_page_about-strong-testimonials .wpmtst-notice--upsell .button {
	padding: 0 1.5rem;
	height: 2.5rem;
	line-height: 2.5rem;
}

.wpmtst-notice--upsell p {
	color: #8d6e30;
}

.wpmtst-notice--upsell__bg {
	background: url(../img/notice-bg-2.png) no-repeat 50% 50%;
	width: 380px;
	height: 400px;
	position: absolute;
	right: -260px;
	top: -80px;
	background-size: 100%;
}

@media screen and (min-width: 1100px) {
	.wpmtst-notice-wrap {
		display: flex;
		justify-content: space-between;
	}

	.edit-php.post-type-wpm-testimonial .wpmtst-notice--feedback,
	.wpm-testimonial_page_testimonial-views .wpmtst-notice--feedback {
		width: calc(50% - 15px);
	}
	.edit-php.post-type-wpm-testimonial .wpmtst-notice--upsell,
	.wpm-testimonial_page_testimonial-views .wpmtst-notice--upsell {
		width: calc(50% - 15px);
	}
}

@media screen and (min-width: 1400px) {
	.wpmtst-notice--feedback {
		padding-right: 320px !important;
	}
	.wpmtst-notice--feedback p {
		font-size: 14px;
		font-weight: 600;
	}
	.wpmtst-notice--feedback__bg {
		right: -60px;
	}
	.wpmtst-notice--upsell {
		padding-right: 320px !important;
	}
	.wpmtst-notice--upsell p {
		font-size: 14px;
		font-weight: 600;
	}
	.wpmtst-notice--upsell__bg {
		right: -60px;
	}
}


/* addons box */
.wpmtst-addons-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.wpmtst-addon {
	width: 100%;
    margin-bottom: 1rem;
    background-color: #fff;
    border: 1px solid #ddd;
    box-sizing: border-box;
}

@media screen and (min-width: 1100px) {

	.wpmtst-addon {
		width: calc( 50% - 20px );
		margin-right: 20px;
	}
}

@media screen and (min-width: 1400px) {
	.wpmtst-addon {
		width: calc( 33% - 20px );
	}
}


.wpmtst-addon .wpmtst-addon-box {
        display: flex;
        padding: 20px 20px 10px;
        text-align: left;
        min-height: 170px;
}
.wpmtst-addon .wpmtst-addon-box .wpmtst-addon-content {
	padding-left: 20px;
}
.wpmtst-addon .wpmtst-addon-box img {
	display: block;
	max-width: 128px;
        max-height: 128px;
}
.wpmtst-addon .wpmtst-addon-box h3 {
	margin-top: 0;
	text-align: left;
}
.wpmtst-addon .wpmtst-addon-actions {
        padding: 12px 20px;
        background-color: #fafafa;
        border-top: 1px solid #ddd;
        overflow: hidden;
        text-align: center;
}

/**
 Onboarding CSS
 */

 .wpmtst-onboarding-wrapper {
	text-align: center;
	padding: 25px;
  }
  
  .wpmtst-onboarding-title {
	display: inline-flex;
	vertical-align: middle;
	align-items: center;
  }
img.wpmtst-onboarding-title-icon {
	max-width: 35px;
	vertical-align: middle;
}
.wpmtst-onboarding-title >span {
	font-size: 16px;
	margin-left: 10px;
	font-weight: 700;
}
.wpmtst-onboarding-text-wrap p {
	font-size: 16px;
	font-weight: 400;
	margin: 0;
}
.wpmtst-onboarding-text-wrap {
	padding: 10px 0 30px 0;
	max-width:960px;
	margin:0 auto;
}
img.wpmtst-onboarding-banner {
	width: auto;
	max-width: 300px;
}
a.wpmtst-onboarding-button {
	font-family: 'DM Sans';
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 43px;
	color: #fff;
	text-decoration: none;
	background: #219962;
	border-radius: 100px;
	padding: 15px 45px;
}

a.wpmtst-onboarding-button:hover {
  background: #1A7A4E;
  color: #fff;
}

.wpmtst-onboarding-button-wrap {
	padding: 30px 0;
}
.wpmtst-onboarding-button-wrap {
	padding: 30px 0 0 0;
}
p.wpmtst-onboarding-doc {
	font-family: 'DM Sans';
	font-style: normal;
	font-weight: 300;
	font-size: 14px;
	line-height: 44px;
	text-align: center;
	color: #000000;
}

p.wpmtst-onboarding-doc a:hover {
	text-decoration: underline;
}

p.wpmtst-onboarding-doc > a {
    text-decoration: none;
    color: #219962;
}