#menu-posts-wpm-testimonial .wp-submenu-wrap > li:last-child a {
	color : #FBC556;
}

/* Tabs tooltips */
.wpmtst-tooltip {
	position : relative;
	display  : inline-block;
}

.wpmtst-tooltip > span {
	cursor          : pointer;
	color           : #0073aa;
	text-decoration : underline;
	margin-left     : 5px;
}

.wpmtst-tooltip .wpmtst-tooltip-content {
	display    : none;
	position   : absolute;
	top        : 50%;
	right      : -10px;
	transform  : translate(100%, -50%);
	width      : 300px;
	background : #000;
	color      : #fff;
	padding    : 10px;
	box-sizing : border-box;
	z-index    : 99;
}

.wpmtst-tooltip .wpmtst-tooltip-content:before {
	content      : '';
	width        : 0px;
	height       : 0px;
	border-style : solid;
	border-width : 8px 8px 8px 0;
	border-color : transparent #000 transparent transparent;
	display      : block;
	position     : absolute;
	top          : 50%;
	left         : -8px;
	transform    : translateY(-50%);
}

.wpmtst-tooltip:hover .wpmtst-tooltip-content {
	display : block;
}

/**
End Tooltips
 */

.wpmtst-inline-block {
	display : inline-block;
}

.wpmts-settings-columns {
	display : flex;
}

.wpmts-settings-columns > form {
	flex-grow : 1;
}

/**
Start Upsells
 */

#wpmtst-importer-upsell.postbox .inside {
	margin  : 0;
	padding : 0;
}

#wpmtst-importer-upsell .wpmtst-alert {
	padding : 10px;
}

#wpmtst-importer-upsell .wpmtst-alert > *:last-child {
	text-align : center;
}

#wpmtst-importer-upsell .hndle {
	display : none;
}

.wpmtst-alert {
	padding    : 20px;
	background : #EDF8FC;
	color      : #3c434a;
	position   : relative;
	border: 1px solid #DDD;

}

.wpmtst-alert__upgrade-btn {
	position  : absolute;
	right     : 0.5rem;
	top       : 50%;
	transform : translateY(-50%) !important;
}

.wpmtst-alert > *:last-child {
	margin-bottom : 0 !important;
}

.wpmtst-alert ul {
	padding-left : 30px;
}

.wpmtst-alert ul li {
	position        : relative;
	list-style-type : none !important;
	text-align      : left;
}

.wpmtst-alert ul li::before {
	font-family      : Dashicons;
	content          : "\f147";
	position         : absolute;
	left             : -30px;
	font-size        : 14px;
	color            : green;
	background-color : #FFF;
	padding          : 0 3px;
	border-radius    : 50%;
	border           : 1px solid #DDD;
	top              : -1px;
}

.wpmts-settings-columns .wpmtst-settings-upsell {
	width        : 25%;
	padding-left : 30px;
	flex-grow    : 0;
	flex-shrink  : 0;
}

.wpmtst-settings-upsell .wpmtst-alert ul {
	list-style : none;
	padding    : 20px;
	margin     : 0;
}

.wpmtst-settings-upsell .wpmtst-alert ul li {
	margin-bottom : 10px;
}

.wpmts-settings-columns .wpmtst-alert {
	background : #fff;
}

span.wpmtst-upsell-badge {
	font-size     : 10px;
	background    : #f4daa4;
	padding       : 2px 5px;
	display       : inline-block;
	margin-left   : 10px;
	border-radius : 10px;
}

.wpmtst-upsell-checkmark:before {
	content       : "\2713";
	padding-right : 10px;
}

.wpmtst-master-license > * {
	margin-bottom:10px;
	display:block;
}

.wpmtst-disabled {
	pointer-events: none;
}