#wpcontent {
    padding-left: 0 !important;
    position: relative;
}

#wpmtst-welcome {
    padding-top: 80px;
}

#wpmtst-welcome *, #wpmtst-welcome *::before, #wpmtst-welcome *::after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#wpmtst-welcome .clear:before {
    content: " ";
    display: table;
}

#wpmtst-welcome .clear:after {
    clear: both;
    content: " ";
    display: table;
}

#wpmtst-welcome .container {
    margin: 0 auto;
    max-width: 800px;
    padding: 0;
}

#wpmtst-welcome .block {
    padding: 40px;
}

#wpmtst-welcome img {
    max-width: 100%;
    height: auto;
}

#wpmtst-welcome h1 {
    color: #222;
    font-size: 24px;
    text-align: center;
    margin: 0 0 16px 0;
}

#wpmtst-welcome h5 {
    color: #222;
    font-size: 16px;
    margin: 0 0 8px 0;
}

#wpmtst-welcome h6 {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.6;
    text-align: center;
    margin: 0;
}

#wpmtst-welcome .wpmtst-btn-lg {
    font-size: 16px;
    font-weight: 600;
    padding: 16px 28px;
}

#wpmtst-welcome .wpmtst-btn-block {
    display: block;
    width: 100%;
}

#wpmtst-welcome .wpmtst-btn {
    border: 0;
    border-radius: 40px;
    cursor: pointer;
    display: inline-block;
    margin: 0;
    text-decoration: none;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    box-shadow: none;
}

#wpmtst-welcome .wpmtst-btn-purple {
    background-color: #5D3CE4;
    border-color: #5D3CE4;
    color: #fff;
}

#wpmtst-welcome .wpmtst-btn-orange {
    background-color: #FBC555;
    border-color: #FBC555;
    color: #fff;
}

#wpmtst-welcome .wpmtst-btn-white {
    background-color: #fff;
    border-color: #fff;
    color: #222;
}


#wpmtst-welcome .button-wrap {
    max-width: 590px;
    margin: 0 auto 0 auto;
}

#wpmtst-welcome .button-wrap .left {
	margin-bottom: 10px;
}

@media screen and (min-width: 720px) {

	#wpmtst-welcome .button-wrap .left {
		margin-bottom: 0px;
		float: left;
		width: 50%;
		padding-right: 20px;
	}

	#wpmtst-welcome .button-wrap .right {
		float: right;
		width: 50%;
		padding-left: 20px;
	}

}



/* hero section */
#wpmtst-welcome .hero {
	background-color: #fff;
	border-radius: 10px;
    margin-bottom: 30px;
	position: relative;
	box-shadow: -3px 2px 70px 0px rgba(128, 144, 174, 0.1);
    padding-top: 40px;
}

#wpmtst-welcome .hero .mascot {
    background-color: #fff;
    border-radius: 50%;
    height: 90px;
    width: 90px;
	padding: 28px 28px;
    position: absolute;
    top: -45px;
    left: 50%;
    margin-left: -45px;
}

#wpmtst-welcome .hero .video-thumbnail {
    display: block;
	margin: 0;
	width: 100%;
}

#wpmtst-welcome .hero .button-wrap {
    margin-top: 20px;
}


/* features section */
#wpmtst-welcome .features {
	background-color: #fff;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	position: relative;
    padding-top: 20px;
}

#wpmtst-welcome .features .feature-list {
    margin-top: 40px;
}

#wpmtst-welcome .features .feature-block {
	margin-bottom: 30px;
}

@media screen and (min-width: 720px) {

	#wpmtst-welcome .features .feature-block {
		margin-bottom: 0px;
	    float: left;
		width: 50%;
		padding-bottom: 32px;
		overflow: auto;
	}

	#wpmtst-welcome .features .feature-block.first {
		padding-right: 22px;
		clear: both;
	}

	#wpmtst-welcome .features .feature-block.last {
		padding-left: 22px;
	}

}

#wpmtst-welcome  .features .feature-block img {
    float: left;
	max-width: 44px;
	max-height: 44px;
}

#wpmtst-welcome .features .feature-block h5 {
    margin-left: 70px;
}

#wpmtst-welcome  .features .feature-block p {
    margin-left: 70px;
}

#wpmtst-welcome .features .pro-label {
    display: inline-block;
    line-height: 1;
    color: #fff;
    background-color: #5333ED;
    padding: 3px 6px;
    font-size: 0.75rem;
    border-radius: 20px;
    vertical-align: text-top;
    margin-left: 20px;
}

#wpmtst-welcome .features .feature-list a {
	color: #5333ED;
}

/* upgrade section */
#wpmtst-welcome .upgrade {
	background-color: white;
	text-align: center;
}

#wpmtst-welcome .upgrade h1{
	color: #fff;
}

@media screen and (min-width: 720px) {

	#wpmtst-welcome .upgrade .left{
	 	float: left;
		width: 50%;
		padding-left: 20%;
		margin-bottom: 30px;
		text-align: left;
	}

	#wpmtst-welcome .upgrade .right{
	 	float: left;
		width: 50%;
		padding-right: 20%;
		margin-bottom: 30px;
		text-align: left;
	}

}

/* testimonials section */
#wpmtst-welcome .testimonials {
	background-color: #fafafa;

	position: relative;
	box-shadow: -3px 2px 70px 0px rgba(128, 144, 174, 0.1);
}

#wpmtst-welcome .testimonials .testimonial-block {
	padding: 0 16px 32px;
	overflow: auto;
	margin-top: 40px;
	text-align: center;
}

@media screen and (min-width: 720px) {

	#wpmtst-welcome .testimonials .testimonial-block {
	   float: left;
	   width: 50%;
    }

}

#wpmtst-welcome .testimonials .testimonial-block p {
	font-size: 14px;
	font-weight: 400;
	line-height: 1.6;
}

#wpmtst-welcome .testimonials .testimonial-block img {
	max-width: 60px;
	max-height: 60px;
	border-radius: 50%;
	filter: grayscale(100%);
	box-shadow: 0 0 12px rgba(0,0,0,0.15);
}


#wpmtst-welcome .testimonials .testimonial-block .testimonial-stars {
    width: 94px;
    height: 20px;
	background-repeat: repeat-x;
	background-position: 50% 50%;
    background-size: 20%;
	position: relative;
	display:inline-block;
}

/* testimonials footer */
#wpmtst-welcome .footer {
	background-color: #fff;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
    margin-bottom: 30px;
	position: relative;
	box-shadow: -3px 2px 70px 0px rgba(128, 144, 174, 0.1);
}


