/**
 * Strong Testimonials simple stylesheet
 *
 * @author Chris Dillon <chris@wpmission.com>
 * @package Strong_Testimonials
 * @since 1.21.0
 */

.clear {
	clear: both;
}

.strong-view.simple {
	box-sizing: border-box;
	display: inline-block;
	width: 100%;
}

.strong-view.simple .strong-content {
}

.strong-view.simple .testimonial {
	margin: 1em auto;
	text-align: left;
	height: auto;
}

.strong-view.simple .testimonial-inner {
	padding: 1em;
	text-align: left;
	width: 100%;
}

.strong-view.simple .testimonial-heading {
	margin-top: 0;
	margin-bottom: 1em;
	text-align: left;
}

.strong-view.simple .testimonial-image {
	float: left;
	margin-top: .25em;
	margin-right: 1em;
}

.strong-view.simple .testimonial-image img {
	background: none;
}

.strong-view.simple .testimonial-content {
}

.strong-view.simple .testimonial-client {
	margin-top: 1em;
}

.strong-view.simple .testimonial-name {
}

.strong-view.simple .readmore {
	margin-top: 1em;
}

/* RTL
-----------------------------------------------*/

.strong-view.simple.rtl .testimonial,
.strong-view.simple.rtl .testimonial-inner,
.strong-view.simple.rtl .testimonial-heading {
	text-align: right;
}

.strong-view.simple.rtl .testimonial-heading {
	background-position: right;
}

.strong-view.simple.rtl .testimonial-image {
	float: right;
	margin-left: 1em;
}

.strong-view.simple.rtl .testimonial-client {
	text-align: left;
}

/* Paging Controls
---------------------------------------------------------*/

.strong-view.simple ul.simplePagerNav {
	margin: 1em auto;
	text-align: center;
	display: block;
}

.strong-view.simple ul.simplePagerNav li {
	display: inline;
	list-style: none;
	margin: 0;
	padding: 0 .3em;
}

.strong-view.simple ul.simplePagerNav li a {
}

.strong-view.simple ul.simplePagerNav li.currentPage a {
	text-decoration: none;
}
