/**
 * Strong Testimonials Unstyled Form template
 */
/* The "wait" spinner on form submission.
-----------------------------------------------*/
.wpmtst-unstyled-form {
  position: relative;
}

.strong-form-wait {
  display: none;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(255, 255, 255, 0.7);
}
.strong-form-wait .message {
  position: absolute;
  top: calc( 50% - 25px );
  text-align: center;
  width: 100%;
  height: 50px;
  line-height: 50px;
  color: #111;
}

.strong-form-wait .message img {
  width: 50px;
  height: 50px;
  margin: 0 auto;
}

@keyframes wpmtst-spin{
  0%{
      transform: rotate(360deg);
      }
  100%{
      transform: rotate(0deg);
      }
}

.strong-form-wait .message img{
  animation: wpmtst-spin 2.5s infinite 0s linear;
}