/* Base
-----------------------------------------------*/
.strong-view.#{$template} {
  display: block;
  width: 100%;

  div {
    box-sizing: border-box;
  }

  .wpmtst-testimonial {
    max-height: none;
    max-width: none;
    padding: 0;
    width: 100%;

    &.t-slide {
      margin-top: 0;
      margin-bottom: 0;
    }
  }

  .wpmtst-testimonial-inner {
    display: block;
    width: 100%;
    height: 100%;
  }

  .wpmtst-testimonial-image {
    max-width: 100%;
  }

  .wpmtst-testimonial-field-before {
    margin-right: 0.5em;
  }

  a.readmore,
  a.readmore-toggle {
    white-space: nowrap;
    z-index: 100;
  }

  a.readmore-toggle {
    &:hover {
      cursor: pointer;
    }
  }
}

.strong-view {
  &.slider-container {
    opacity: 1;
  }

  .screen-reader-text {
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    overflow: hidden;
    position: absolute !important;
    width: 1px;
    word-wrap: normal !important;
  }
}
