/**
 * Strong Testimonials Modern template
 */

$template: modern;

@import "../_mixins/testimonial";

@import "../_partials/clear";
@import "../_partials/base";
@import "../_partials/pagination-modern";

/* Template
-----------------------------------------------*/
.strong-view.#{$template} {
	.strong-content {
	}

	.testimonial {
		@include no-top-bottom-margin;
		margin: 20px auto;
		width: 100%;
	}

	.testimonial-inner {
		padding: 30px;
	}

	&.ui-slideshow-bottom .testimonial-inner {
		padding-bottom: 60px;
	}

	&.ui-slideshow-bookends .testimonial-inner {
	}

	.testimonial-content {
		@include paragraphs;
		color: #434343;
		margin: 0 56px;
		font-size: 1.3em;
		font-style: italic;
		text-align: center;
		position: relative;
	}

	.testimonial-content:before,
	.testimonial-content:after {
		font-family: fontawesome;
		color: #CDCDCD;
		font-size: 36px;
		font-style: normal;
		line-height: 36px;
		position: absolute;
		width: 36px;
	}

	.testimonial-content:before {
		content: "\f10d";
		left: -56px;
		top: 0;
	}

	.testimonial-content:after {
		content: "\f10e";
		right: -56px;
		bottom: 0;
	}

	.testimonial-client {
		clear: both;
		margin-top: 30px;
		text-align: center;
	}

	.testimonial-name {
		color: #434343;
		font-size: 1.3em;
		font-weight: 700;
	}

	.testimonial-date {
		font-size: 0.9em;
		color: #777;
	}

	.testimonial-company {
		font-size: 1.1em;
	}

	.testimonial-image {
		img {
			border-radius: 50%;
		}
		margin-bottom: 10px;
	}

	.readmore {
	}

	.readmore-page {
		background: #F4F4F4;
		padding: 0.7em;
		text-align: center;
	}

	.strong-cycle-controls {
		.cycle-pager span::before {
			color: #808080;
		}
		span.cycle-pager-active::before {
		}
		&.indexed {
			line-height: 22px;
			padding: 19px 0;
			.cycle-pager span {
				height: 22px;
				width: 22px;
			}
			span.cycle-pager-active {
				border-radius: 50%;
				background: #CDCDCD;
				font-weight: 400;
			}
		}
	}
}

/* Widget
-----------------------------------------------*/
.widget .strong-view.#{$template} {
	.testimonial-inner {
		padding: 20px;
	}

	&.ui-slideshow-bottom .testimonial-inner {
		padding-bottom: 40px;
	}

	.strong-cycle-controls {
		line-height: 40px;
	}


	.testimonial-content {
		margin: 36px 0;
	}

	.testimonial-content:before {
		left: 0;
		top: -36px;
	}

	.testimonial-content:after {
		right: 0;
		bottom: -36px;
	}

	.readmore {
		display: block;
	}
}

/* Responsive
-----------------------------------------------*/
//@import "../_partials/responsive";
@media only screen and (max-width: 320px) {
	.strong-view.#{$template} .testimonial-inner {
		padding: 15px;
	}

	.strong-view.#{$template} .testimonial-content {
		margin: 0;

		/* move quotes from left/right to top/bottom */
		&:before {
			position: static;
			display: block;
			margin-bottom: 10px;
		}

		&:after {
			position: static;
			float: right;
			margin-top: 10px;
		}
	}
}

/* RTL
-----------------------------------------------*/
@import "../_partials/rtl";
