.strong-view {
  &.pager-style-buttons {
    .wpmslider-pager {
      line-height: 24px;
      margin: 0 7px;
      text-align: center;
    }

    .wpmslider-pager-link:before {
      content: "";
      -webkit-mask: url('../svg/chevron-circle-left-solid.svg') center center no-repeat;
      mask: url('../svg/chevron-circle-left-solid.svg') center center no-repeat;
      display: inline-block;
      color: #999;
      background: #999;
      cursor: pointer;
      font-size: 12px;
      width: 18px;
      height: 18px;
      text-align: center;
    }

    .wpmslider-pager-link:hover:before {
      content: "";
      -webkit-mask: url('../svg/circle-solid.svg') center center no-repeat;
      mask: url('../svg/circle-solid.svg') center center no-repeat;
      display: inline-block;
      width: 20px;
      height: 20px;
      color: #111;
      background: #111;
    }

    .wpmslider-pager-link.active:before {
      content: "";
      -webkit-mask: url('../svg/circle-solid.svg') center center no-repeat;
      mask: url('../svg/circle-solid.svg') center center no-repeat;
      display: inline-block;
      width: 20px;
      height: 20px;
    }
  }
}
