.strong-view {
  &.controls-style-buttons2 {
    .wpmslider-start,
    .wpmslider-stop,
    .wpmslider-next,
    .wpmslider-prev {
      display: inline-block;
      background: #C0C0C0;
      border-radius: 5px;
      color: #FFF;
      cursor: pointer;
      font-size: 16px;
      line-height: 27px;
      width: 27px;
      height: 27px;
      text-align: center;
      transition: all 0.2s ease;
    }

    .wpmslider-start:before {
      content: "";
      background:#fff;
      position: relative;
      -webkit-mask: url('../svg/play-solid.svg') center center no-repeat;
      mask: url('../svg/play-solid.svg') center center no-repeat;
      top:3px;
      display: inline-block;
      width: 20px;
      height: 20px;
      left: 1px;
    }

    .wpmslider-stop:before {
      content: "";
      background:#fff;
      -webkit-mask: url('../svg/pause-solid.svg') center center no-repeat;
      mask: url('../svg/pause-solid.svg') center center no-repeat;
      display: inline-block;
      width: 20px;
      height: 20px;
      position: relative;
      top:3px;
    }

    .wpmslider-start:hover,
    .wpmslider-stop:hover,
    .wpmslider-next:hover,
    .wpmslider-prev:hover {
      background: #333;
    }

    &:not(.rtl) {
      .wpmslider-prev:before {
        content: "";
        -webkit-mask: url('../svg/chevron-left-solid.svg') center center no-repeat;
        mask: url('../svg/chevron-left-solid.svg') center center no-repeat;
        background:#fff;
        position: relative;
        left: -1px;
        display: inline-block;
        width: 20px;
        height: 20px;
        top: 3px;
      }

      .wpmslider-next:before {
        content: "";
        -webkit-mask: url('../svg/chevron-right-solid.svg') center center no-repeat;
        mask: url('../svg/chevron-right-solid.svg') center center no-repeat;
        position: relative;
        left: 1px;
        display: inline-block;
        width: 20px;
        background: #fff;
        height: 20px;
        top: 3px;
      }
    }

    &.rtl {
      .wpmslider-prev:before {
        content: "";
        -webkit-mask: url('../svg/chevron-right-solid.svg') center center no-repeat;
        mask: url('../svg/chevron-right-solid.svg') center center no-repeat;
        position: relative;
        left: 1px;
        top: 3px;
        display: inline-block;
        width: 20px;
        background: #fff;
        height: 20px;
      }

      .wpmslider-next:before {
        content: "";
        -webkit-mask: url('../svg/chevron-left-solid.svg') center center no-repeat;
        mask: url('../svg/chevron-left-solid.svg') center center no-repeat;
        position: relative;
        left: -1px;
        top: 3px;
        display: inline-block;
        width: 20px;
        background: #fff;
        height: 20px;
      }
    }
  }
}
