.strong-view {
  &.controls-style-buttons {
    .wpmslider-start,
    .wpmslider-stop,
    .wpmslider-next,
    .wpmslider-prev {
      display: inline-block;
      color: #999;
      cursor: pointer;
      font-size: 24px;
      line-height: 24px;
      width: 24px;
      height: 24px;
      text-align: center;
      transition: all 0.2s ease;
    }

    .wpmslider-start:before,
    .wpmslider-stop:before {
      position: relative;
      top:3px;
      display: inline-block;
      width: 20px;
      height: 20px;
      
      background:#999;
    }

    .wpmslider-start:before {
      content: "";
      -webkit-mask: url('../svg/play-solid.svg') center center no-repeat;
      mask: url('../svg/play-solid.svg') center center no-repeat;
      left: 1px;
    }

    .wpmslider-stop:before {
      content: "";
      -webkit-mask: url('../svg/pause-solid.svg') center center no-repeat;
      mask: url('../svg/pause-solid.svg') center center no-repeat;
    }

    .wpmslider-start:hover,
    .wpmslider-stop:hover,
    .wpmslider-next:hover,
    .wpmslider-prev:hover {
      color: #111;
    }

    &:not(.rtl) {
      .wpmslider-prev:before {
        content: "";
        -webkit-mask: url('../svg/chevron-left-solid.svg') center center no-repeat;
        mask: url('../svg/chevron-left-solid.svg') center center no-repeat;
        background:#999;
        position: relative;
        left: -1px;
        display: inline-block;
        width: 20px;
        height: 20px;
        top: 3px;
      }

      .wpmslider-next:before {
        content: "";
        -webkit-mask: url('../svg/chevron-right-solid.svg') center center no-repeat;
        mask: url('../svg/chevron-right-solid.svg') center center no-repeat;
        position: relative;
        left: 1px;
        display: inline-block;
        width: 20px;
        background: #999;
        height: 20px;
        top: 3px;
      }
    }

    &.rtl {
      .wpmslider-prev:before {
        content: "";
        -webkit-mask: url('../svg/chevron-right-solid.svg') center center no-repeat;
        mask: url('../svg/chevron-right-solid.svg') center center no-repeat;
        position: relative;
        left: 1px;
        display: inline-block;
        width: 20px;
        background: #999;
        height: 20px;
        top: 3px;
      }

      .wpmslider-next:before {
        content: "";
        -webkit-mask: url('../svg/chevron-left-solid.svg') center center no-repeat;
        mask: url('../svg/chevron-left-solid.svg') center center no-repeat;
        background:#999;
        position: relative;
        left: -1px;
        display: inline-block;
        width: 20px;
        height: 20px;
        top: 3px;
      }
    }
  }
}
