.strong-view {
  &.controls-style-buttons2 {
    .wpmslider-start,
    .wpmslider-stop,
    .wpmslider-next,
    .wpmslider-prev {
      font-family: FontAwesome;
      display: inline-block;
      background: #C0C0C0;
      border-radius: 5px;
      color: #FFF;
      cursor: pointer;
      font-size: 16px;
      line-height: 27px;
      width: 27px;
      height: 27px;
      text-align: center;
      transition: all 0.2s ease;
    }

    .wpmslider-start:before {
      content: "\f04b";
      position: relative;
      left: 1px;
    }

    .wpmslider-stop:before {
      content: "\f04c";
    }

    .wpmslider-start:hover,
    .wpmslider-stop:hover,
    .wpmslider-next:hover,
    .wpmslider-prev:hover {
      background: #333;
    }

    &:not(.rtl) {
      .wpmslider-prev:before {
        content: "\f053";
        position: relative;
        left: -1px;
        top: 1px;
      }

      .wpmslider-next:before {
        content: "\f054";
        position: relative;
        left: 1px;
        top: 1px;
      }
    }

    &.rtl {
      .wpmslider-prev:before {
        content: "\f054";
        position: relative;
        left: 1px;
        top: 1px;
      }

      .wpmslider-next:before {
        content: "\f053";
        position: relative;
        left: -1px;
        top: 1px;
      }
    }
  }
}
