.strong-view {
	.bx-wrapper {
		.bx-pager {
			line-height: 24px;
			margin: 0 4px;
			text-align: center;
		}
		.bx-pager-link {
			display: inline-block;
			&.active {
				color: #111;
			}
		}
	}
	&.pager-style-text {
		.bx-pager-link {
			padding: 0 0.3em;
		}
	}
}
