/**
 * Strong Testimonials > Guide pages
 */
/* == Structure
--------------------------------------------------*/
.guide-wrapper {
  display: flex;
  max-width: 1024px;
}

#guide {
  margin-right: 40px;
}

#plugin-sidebar {
  flex: 1 0 30%;
}

.section {
  margin-bottom: 40px;
}
.section:not(:first-child) {
  margin-top: 30px;
}

/** == Elements
--------------------------------------------------*/
.wpmtst-guide p,
.wpmtst-guide ol,
.wpmtst-guide ul {
  font-size: 1.2em;
  line-height: 1.5;
}
.wpmtst-guide p.sig {
  font-size: 1.5em;
  font-style: italic;
  margin: 2em 0 1em;
}
.wpmtst-guide ul > li {
  list-style-type: disc;
  margin-left: 1.3em;
  padding-left: .3em;
}
.wpmtst-guide h1.large {
  color: #3063A5;
  font-size: 36px;
  font-weight: 600;
  margin: 1em 0;
}
.wpmtst-guide .dashicons {
  color: #FB8139;
  font-size: 24px;
  margin-right: 0.5em;
}

#guide .section:first-child p {
  margin-top: 0;
}
#guide h2 {
  font-size: 1.7em;
  line-height: 1.3;
  margin: 0 0 1em;
}

.highlight {
  background: #FFFF99;
  border: 1px solid #EEEE00;
  display: inline-block;
  padding: 3px 6px 2px;
}

code {
  font-size: 16px;
}

.code {
  display: inline-block;
  font-family: Consolas, Monaco, monospace;
  background: white;
  padding: 5px 15px;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.4);
}

.highlight {
  background: rgba(255, 229, 135, 0.5);
  border: 1px solid #FFDC5D;
  border-radius: 3px;
  color: #1E1800;
  padding: 5px 15px;
}

/* Plugin Sidebar
------------------------------------------------*/
#plugin-sidebar .sidebar-block {
  padding: 1em;
  margin-bottom: 2em;
}
#plugin-sidebar .sidebar-news {
  position: relative;
  background: #FFF;
  border: 1px solid #25A383;
  border-top-width: 5px;
  box-sizing: border-box;
}
#plugin-sidebar .sidebar-news button {
  background: #25A383;
  color: white;
  border: 0;
  border-radius: 4px;
  padding: 3px 10px 5px;
  font-size: 16px;
}
#plugin-sidebar .sidebar-news button a:link,
#plugin-sidebar .sidebar-news button a:visited,
#plugin-sidebar .sidebar-news button a:active {
  color: #FFF;
  text-decoration: none;
  text-transform: uppercase;
}
#plugin-sidebar .sidebar-news button:hover {
  background: #337147;
}
#plugin-sidebar .sidebar-news h2 {
  font-size: 1.5em;
  line-height: 1.3;
  margin-top: 0;
  text-align: left;
  margin-left: 46px;
  /* to account for icon */
}
#plugin-sidebar .sidebar-news h3 {
  text-align: center;
}
#plugin-sidebar .sidebar-news .actions {
  text-align: center;
}
#plugin-sidebar .sidebar-news.addon:before {
  font-family: fontawesome;
  background: #25A383;
  color: #FFF;
  font-size: 24px;
  width: 46px;
  line-height: 46px;
  text-align: center;
  position: absolute;
  top: -5px;
  /* to account for top border */
  left: 0;
}
#plugin-sidebar .sidebar-news.addon.review-markup:before {
  content: "\f005";
}
#plugin-sidebar .sidebar-news.addon.multiple-forms:before {
  content: "\f0c5";
}
#plugin-sidebar .sidebar-news.addon.properties:before {
  content: "\f0ad";
}
#plugin-sidebar .sidebar-links {
  background: #FFF;
  border: 1px solid #3063A5;
  border-top-width: 5px;
  box-sizing: border-box;
}
#plugin-sidebar .sidebar-links a {
  white-space: nowrap;
}
#plugin-sidebar .sidebar-links h3 {
  margin: 0;
  padding-top: 4px;
  line-height: 1.3;
  white-space: nowrap;
}
#plugin-sidebar .sidebar-links div {
  margin: 0 0 20px 45px;
  font-size: 1.1em;
}
#plugin-sidebar .sidebar-links div:last-child {
  margin-bottom: 0;
}
#plugin-sidebar .sidebar-links p {
  margin: 0;
}
#plugin-sidebar .sidebar-links ul {
  font-size: 1em;
  margin: 0;
}
#plugin-sidebar .sidebar-links li {
  list-style-type: none;
  padding-left: 0;
  margin: 0.5em 0;
}
#plugin-sidebar .sidebar-links .has-icon:before {
  font-family: fontawesome;
  color: #3063A5;
  float: left;
  font-size: 34px;
  margin-left: -45px;
  position: relative;
  top: 10px;
}
#plugin-sidebar .sidebar-links .icon-help:before {
  content: "\f059";
}
#plugin-sidebar .sidebar-links .icon-document:before {
  content: "\f05a";
}
#plugin-sidebar .sidebar-links .icon-donate:before {
  content: "\f118";
}
#plugin-sidebar .sidebar-links .new-doc {
  background: #FF8900;
  color: #FFF;
  font-size: 0.8em;
  padding: 1px 5px;
  border-radius: 1px;
  margin-left: 8px;
}

/* ==Responsive
--------------------------------------------------*/
@media screen and (max-width: 320px) {
  #plugin-sidebar div {
    padding: 0;
  }
  #plugin-sidebar .has-icon::before {
    display: none;
  }
}
@media screen and (max-width: 667px) {
  #plugin-sidebar {
    margin-top: 40px;
  }

  h1.large {
    font-size: 30px;
    line-height: 1.5;
  }

  .guide-wrapper {
    display: block;
  }
}
@media screen and (max-width: 768px) {
  .guide-wrapper {
    max-width: 768px;
  }
}
@media screen and (min-width: 668px) and (max-width: 782px) {
  #plugin-sidebar .has-icon::before {
    display: none;
  }
}
@media screen and (max-width: 1024px) {
  #plugin-sidebar .sidebar-news.addon:before {
    display: none;
  }
  #plugin-sidebar .sidebar-news.addon h2 {
    margin-left: 0;
    text-align: center;
    font-size: 1.3em;
  }
}

/*# sourceMappingURL=guide.css.map */
