/* The logs view screen
-----------------------------------------------*/

.wrap.wpmtst #log-viewer pre {
	font-family: monospace;
	white-space: pre-wrap;
	word-wrap: break-word;
  }
  .wrap.wpmtst #log-viewer {
	background: #fff;
	border: 1px solid #e5e5e5;
	box-shadow: 0 1px 1px rgba(0,0,0,.04);
	padding: 5px 20px;
	margin-top: 6px;
  }
