.st-uninstall-form-active .st-uninstall-form-bg {
    background: rgba(0, 0, 0, .5);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.st-uninstall-form-wrapper {
    position: fixed;
    z-index: 999;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 auto;
}

.st-uninstall-form-wrapper .uninstall {
    text-align: center;
}

.st-uninstall-form-active .st-uninstall-form-wrapper {
    display: block;
    z-index: 999;
}

.st-uninstall-form {
    display: none;
}

.st-uninstall-form-active .st-uninstall-form {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 50%;
    transform: translateY(-50%);
    max-width: 650px;
    background: #fff;
    white-space: normal;
    max-height: 100vh;
}

.st-uninstall-form-head {
    background: #774cce;
    padding: 8px 18px;
    position: relative;
}

.st-uninstall-form-head h3 {
    color: #fff;
}

.st-uninstall-form-body {
    padding: 8px 18px;
    color: #444;
}

.deactivating-spinner {
    display: none;
}

.deactivating-spinner .spinner {
    float: none;
    margin: 4px 4px 0 18px;
    vertical-align: bottom;
    visibility: visible;
}

.toggle-spinner .deactivating-spinner {
    display: block !important;
}

.st-uninstall-form-footer p {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.st-uninstall-form.process-response .st-uninstall-form-body {
    position: relative;
}

.st-uninstall-form.process-response .st-uninstall-form-body:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, .5);
}

.st-uninstall-form-head .close-uninstall-form {
    position: absolute;
    right: 15px;
    color: #fff;
    font-family: Arial;
    font-size: 14px;
    display: inline-block;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.st-red-text {
    color:red !important;
    font-weight:bold;
}

.st-uninstall-options .st-uninstall-options-checkbox {
    margin-bottom: 0px;
}

@media screen and ( max-height: 600px ) {
    .st-uninstall-form {
     overflow-Y:scroll;
    }
}